{% extends 'homepage.html' %}
{% block content %}

<div class="announce">
<h3>Unable to locate the page you requested.</h3>
{% if messages %}
{% for msg in messages %}
<p>{{ msg|safe }}</p>
{% endfor %}
{% elif message %}
<br>
{{ message | safe }}
{% elif request.referrer %}
<br>
<div>
If you think accessing "{{ request.referrer }}" is an error, please help us improve this site by reporting the URL <a href="{{ feedbackpage }}" target=_blank>here</a>.
</div>
{% else %}
<div>
  If you believe this page should be here, please help us improve and report this problem here <a href="{{ feedbackpage }}" target=_blank>here</a>.
</div>
{% endif %}
{% if request.referrer %}
<div>
<br>
<a href="{{ request.referrer }}">Click here</a> to return to the referring URL.
</div>
{% endif %}

</div>
{% endblock %}
