{% extends 'homepage.html' %}
{% block content %}

<h2>Whoops, we ran into a problem.</h2>

{% if message %}
<p><b>Error:</b>&nbsp;&nbsp;<i>{{message}}</i></p>
{% endif %}
{% for msg in messages %}
<p><b>Error:</b>&nbsp;&nbsp;<i>{{msg}}</i></p>
{% endfor %}

<div>
<p>This error has been logged and will be brought to our attention.</p>
<p>
If there are further details you can provide, or if you would like us to let you
know when the problem has been fixed, you can email us at <a href="mailto:psetpartners@mit.edu">psetpartners@mit.edu</a>.
</p>
<p>We apologize for the inconvenience!</p>
</div>

{% if request.referrer %}
<div><a href="{{ request.referrer }}">Click here to go back.</a></div>
{% endif %}

</span>
</div>

{% endblock %}
