{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Welcome to pset partners!</h2>

<p>
  The purpose of this site is to make it easier for MIT students to find classmates to work with on problem sets.  Collaboration is an integral part of the MIT experience, but finding people with to work with can be a challenge, and there may be potential collaborators you do not yet know.
</p>

<p>
  To find partners, students start by indicating the times there are available for collaboration, the classes they are taking, and any preferences they have, such as their preferred group size or when they like to start working on problem sets.  A student may then
<ul class="about">
    <li><b>join</b> an existing group that is open to new members and compatible with their schedule and preferences;</li>
    <li><b>create</b> a new group and list it publicly or send invitations to other students;</li>
    <li><b>enter</b> the pool of students to be matched by the system on the next match date.</li>
</ul>
Each week the system attempts to match the students in the match pool by placing them into groups that are compatible with their schedule and preferences; students in the pool may also be added to existing groups when appropriate.
</p>
<p>
Once students have been placed in a pset group it is up to the group to decide how they want to work together; <b>pset partners is not a collaboration platform, our goal is simply to connect students</b>.
</p>
<p>
To learn more about pset partners you can <a href="https://www.ams.org/journals/notices/202111/rnoti-p1919.pdf">read this article</a>, browse our <a href="{{url_for('faq')}}">FAQ</a>, or go play in <a href="https://psetpartners-test.mit.edu">the sandbox</a>, a test version of the site populated with simulated students and instructors.  Before using our site, you should also be sure to read our (very short) <a href="{{url_for('conduct')}}">code of conduct</a>.
</p>
<p>
Feel free to <a href="mailto:psetpartners@mit.edu">contact us</a> if you have further questions, or encounter any problems using pset partners.
</p>

<a href="{{url_for('index')}}">Return to main page</a>
</div>

{% endblock %}
