{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Welcome to pset partners!</h2>

<p>
  The purpose of this site is to make it easier for MIT students to find classmates to work with on problem sets.  Collaborating on problem sets is an integral part of the MIT experience, but finding people to work with can sometimes be a challenge.  This is especially true in our current circumstances, when so many of us cannot be on campus.
</p>

<p>
  The first step for each student is to fill out their profile, which includes times there are available for collaboration, classes they are taking, and any preferences they have, such as a preferred group size or when they like to start working on problem sets.
</p>
<p>Once a student has completed their profile they have several options for finding pset partners:
<ul class="about">
    <li>If there are existing groups in the class that are open to new mambers, the student may be able to join one of them.</li>
    <li>The student can create a group and either list it publicly or send invitations to other students in the class.</li>
    <li>The student can enter the pool of students who will be matched by the system on the next match date for the class.</li>
</ul>
Each week, typically on Friday at midnight, the system will attempt to match the students in the match pool for each class by placing them into groups that are compatible with their schedule and preferences.
</p>
<p>
To learn more about this process and other features of the site, you can read the <a href="{{url_for('.faq')}}">FAQ</a>, or feel free to <a href="mailto:psetpartners@mit.edu">contact us</a> directly.
</p>

<a href="{{url_for('.index')}}">Return to main page</a>
</div>

{% endblock %}
