{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Welcome to pset partners!</h2>

<p>
  The purpose of this site is to make it easier for MIT students to find partners to work on problem sets with them.  Collaborating on problem sets is an integral part of the MIT experience, but finding people to work with can sometimes be a challenge.  This is especially true under the current circumstances when so many of us cannot meet in person.
</p>

<a href="{{url_for('.index')}}">Return to main page</a>
</div>

{% endblock %}
