{% extends 'homepage.html' %}
{% block content %}

<h2>Software</h2>

<div>
    The website runs on free open source software, including
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>,
<a href="https://jquery.com/">jQuery</a>,
<a href="http://www.python.org">Python</a>,
<a href="http://flask.pocoo.org/">Flask</a>,
<a href="http://jinja.pocoo.org/">Jinja</a>,
<a href="http://initd.org/psycopg/">Psycopg</a>,
<a href="https://www.postgresql.org/">PostgreSQL</a>,
<a href="https://kb.mit.edu/confluence/display/istcontrib/Touchstone+Landing+Page">Touchstone</a>,
and
<a href="http://git-scm.com">Git</a>,
and is partially derived from the open source projects
<a href="https://github.com/roed314/seminars/">Research Seminars</a> and the
<a href="https://github.com/LMFDB/lmfdb/">LMFDB</a>.
</div>

<h2>Hosting</h2>
<p align="justify">
  The database and web server are hosted at the <a href="https://math.mit.edu/index.php">MIT mathematics department</a>.
  The website source code is hosted
  on <a href="https://github.com/AndrewVSutherland/psetpartners">GitHub</a>.
</p>

<h2>Administrators</h2>
<p align="justify">
  The site is currently administered by <a href="https://math.mit.edu/~roed">David Roe</a> and <a href="https://math.mit.edu/~drew">Andrew Sutherland</a>.
</p>

<h2>Contributors</h2>
<p align="justify">
We gratefully acknowledge the contributions of Sualeh Asif, Edgar Costa, Korina Digalaki, Jonathan Kelner, Min Thet Khine, Rachana Madhukara, Ariana Park, Ana Reyes Sanchez, Jocelin Su, Maya Sankar, Yoeshware Velingker, Jeffrey Yu, and all those who have helped to improve this site.
</p>

<br>
<a href="{{url_for('.index')}}">Return to main page</a>

{% endblock %}
