{% extends 'homepage.html' %}
{% block content %}

<div class="text_content auto">
  <a name="sponsors"></a>
  <h2>Sponsors</h2>
  <div>
    The development of this site was supported by the MIT math department.
  </div>

  <a name="software"></a>
  <h2>Software</h2>

  <div>
    This website is run on free open source software, including
    <a href="http://www.python.org">Python</a>,
    <a href="http://flask.pocoo.org/">Flask</a>,
    <a href="http://jinja.pocoo.org/">Jinja</a>,
    <a href="https://www.postgresql.org/">PostgreSQL</a>,
    <a href="http://initd.org/psycopg/">Psycopg</a>,
    and
    <a href="http://git-scm.com">Git</a>.
  </div>

  <a name="hosting"></a>
  <h2>Hosting</h2>
  <div>
    The database and web server are hosted at <a href="https://math.mit.edu/index.php">MIT</a>.
    The website source code is hosted
    on <a href="https://github.com/AndrewVSutherland/psetpartners">GitHub</a>.
  </div>

  <a name="individuals"></a>
  <h2>Administrators</h2>
  <div>
    This site was created by <a href="https://math.mit.edu/~roed">David Roe</a>, <a href="https://math.mit.edu/~drew">Andrew Sutherland</a> and others.
  </div>
</div>

{% endblock %}
