<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

{% if not user.is_authenticated or not user.is_admin %}

<h3>User "{{user.kerb}}" is not authorized to access this page.</h3>

This is a bug, please report is to <a href="mailto:psetpartners@mit.edu">psetpartners@mit.edu</a>.

{% else %}

<h3 style="text-align:center;">{{counts.keys()|length-1}} classes with {{counts[''].students}} students in {{counts[''].groups}} groups for {{current_term_pretty}}</h3>

<table class="mtab" id="class-table">
  <thead><tr>
    <th id="class" class="sortable">class</th>
    <th id="students" class="sortable">students</th>
    <th id="groups" class="sortable">groups</th>
    <th id="members" class="sortable">members</th>
    <th id="pool" class="sortable">pool</th>
    <th id="match" class="sortable">match</th>
    <th id="other" class="sortable">other</th>
  </tr></thead>
  <tbody id="class-rows"></tbody>
</table>

<script>
// jshint ignore:start
const isLive = {{ livesite|tojson|safe }};
const counts = {{ counts|tojson|safe }};
const toggles = {{ user.toggles|tojson|safe }};
const route = '{{ url_for(".admin")|safe }}';
// jshint ignore:end
/* global isLive, counts, toggles, route */

let loaded = false;
let classSort = {};
let classRows = [];

function formatRow(class_number) {
  const s = counts[class_number];
  return {
    class_number: class_number,
    students: s.students,
    groups: s.groups,
    members: s.status[1]||0,
    public: s.visibility[3]||0,
    private: (s.visibility[0]||0) + (s.visibility[1]||0) + (s.visibility[2]||0),
    automatic: s.visibility[2]||0,
    permission: s.visibility[1]||0,
    invitation: s.visibility[0]||0,
    pool: s.status[2]||0,
    match: (s.status[3]||0) + (s.status[5]||0),
    other: s.status[0]||0,
  };
}

/*    <td>${row.public}</td>
    <td>${row.private}</td>
    <td>${row.automatic}</td>
    <td>${row.permission}</td>
    <td>${row.invitation}</td>*/

function renderRows() {
  return classRows.map(row => row.class_number ? `<tr>
    <td style="text-align:left;"><a href="${(row.class_number ? route + '/' + row.class_number : route)}">${row.class_number||'total'}</a></td>
    <td style="text-align:right;">${row.students}</td>
    <td style="text-align:right;">${row.groups}</td>
    <td style="text-align:right;">${row.members}</td>
    <td style="text-align:right;">${row.pool}</td>
    <td style="text-align:right;">${row.match}</td>
    <td style="text-align:right;">${row.other}</td>
   </tr>` : '').join('\n');
}


function headerClick (e) {
  classSort.curCol = e.target.id;
  classSort.dir = classSort.curCol == classSort.prevCol ? -classSort.dir : 1;
  ajaxToggle('st', (classSort.dir < 0 ? '-' : '+') +e.target.id);
  showClassTable();
}

function colCompare(a,b,col,dir)
{
  if ( a[col] == b[col] ) return a.class_number < b.class_number ? -dir : dir;
  return a[col] < b[col] ? -dir : dir;
}

function showClassTable () {
  const dir = classSort.dir;
  const col = classSort.curCol;
  classRows.sort(function(a,b) { return colCompare(a,b,col,dir); });
  classSort.prevCol = col;
  $('#class-rows').html(renderRows());
  const q = $('#class-table th.active');  q.removeClass('asc'); q.removeClass('desc'); q.removeClass('active');
  $('#'+col).addClass('active');  $('#'+col).addClass(dir>0 ? 'asc' : 'desc');
}

function ajaxToggle(name, value) {
  if ( ! loaded ) return false;
  ajaxToggle[name] = value;
  if ( ajaxToggle[name+'Pending'] ) return false;
  ajaxToggle[name+'Pending'] = true;
  window.setTimeout(function(){
    $.ajax({url: '/_toggle', data: { 'name': name, 'value': ajaxToggle[name] }});
    ajaxToggle[name+'Pending'] = false;
    }, 500);
  return true;
}

document.addEventListener('DOMContentLoaded', function() {
  const t = toggles.st || '-students';
  classSort = { curCol: t.slice(1), prevCol: '', dir: t[0] == '-' ? -1 : 1 };
  classRows = Object.keys(counts).map(formatRow);
  $('#class-table th').click(headerClick);
  $('#class-rows').html(renderRows(classRows));
  showClassTable();
  loaded = true;
  console.log(isLive ? "We are live!" : "We are in the sandbox.");
});

</script>

{% endif %}

{% endblock %}
