<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

{% if not user.is_authenticated or not user.is_admin %}

<h3>User "{{user.kerb}}" is not authorized to access this page.</h3>

This is a bug, please report is to <a href="mailto:psetpartners@mit.edu">psetpartners@mit.edu</a>.

{% else %}

<h3 id="class-table-header" style="text-align:center;">{{counts[''].classes}} classes with {{counts[''].students}} students in {{counts[''].groups}} groups for {{current_term_pretty}}</h3>

<table class="mtab" id="class-table">
  <thead><tr>
    <th id="dept" class="sortable nodeptonly">department</th>
    <th id="classes" class="sortable nodeptonly">classes</th>
    <th id="class" class="sortable deptonly">class</th>
    <th id="students" class="sortable">students</th>
    <th id="groups" class="sortable">groups</th>
    <th id="members" class="sortable deptonly">members</th>
    <th id="pool" class="sortable deptonly">in pool</th>
    <th id="match" class="sortable deptonly">matching</th>
    <th id="other" class="sortable deptonly">inactive</th>
  </tr></thead>
  <tbody id="class-rows"></tbody>
</table>

<script>
// jshint ignore:start
const isLive = {{ livesite|tojson|safe }};
const counts = {{ counts|tojson|safe }};
const toggles = {{ user.toggles|tojson|safe }};
const current_term_pretty = "{{ current_term_pretty }}";
const route = '{{ url_for(".admin")|safe }}';
// jshint ignore:end
/* global isLive, counts, toggles, current_term_pretty, route */

let loaded = false;
let dept = '';
let classSort = {};
let classRows = [];

function formatRow(class_number) {
  const s = counts[class_number];
  if ( class_number.includes('.') ) {
    return {
      class_number: class_number,
      students: s.status.reduce((s,v)=>s+v),
      groups: s.groups,
      members: s.status[1]||0,
      pool: s.status[2]||0,
      match: (s.status[3]||0) + (s.status[5]||0),
      other: s.status[0]||0,
    };
  } else {
    return {
      class_number : class_number,
      classes: s.classes,
      students: s.students,
      groups: s.groups,
    };
  }
}

function renderRows() {
  if ( dept ) {
    $('.deptonly').show();
    $('.nodeptonly').hide();
    return classRows.map(row => row.class_number.startsWith(dept+'.') ? `<tr>
      <td style="text-align:left;"><a href="${(row.class_number ? route + '/' + row.class_number : route)}">${row.class_number||'total'}</a></td>
      <td style="text-align:right;">${row.students}</td>
      <td style="text-align:right;">${row.groups}</td>
      <td style="text-align:right;">${row.members}</td>
      <td style="text-align:right;">${row.pool}</td>
      <td style="text-align:right;">${row.match}</td>
      <td style="text-align:right;">${row.other}</td>
     </tr>` : '').join('\n');
  } else {
    $('.deptonly').hide();
    $('.nodeptonly').show();
    return classRows.map(row => (row.class_number.length===0 || row.class_number.includes('.')) ? '' : `<tr>
      <td style="text-align:left;"><label class="link" style onclick="dept=this.innerHTML; showClassTable();">${row.class_number}</label></td>
      <td style="text-align:right;">${row.classes}</td>
      <td style="text-align:right;">${row.students}</td>
      <td style="text-align:right;">${row.groups}</td>
     </tr>`).join('\n');
  }
}

function headerClick (e) {
  classSort.curCol = e.target.id;
  classSort.dir = classSort.curCol == classSort.prevCol ? -classSort.dir : 1;
  ajaxToggle('st', (classSort.dir < 0 ? '-' : '+') +e.target.id);
  showClassTable();
}

function classNumberCompare(a,b) {
  const da = parseInt(a.split('.')[0]), db = parseInt(b.split('.')[0]);
  if ( isNaN(da) ) return isNaN(db) ? (a < b ? -1 : (a > b ? 1 : 0)) : 1;
  if ( isNaN(db) ) return -1;
  return da < db ? -1 : (da > db ? 1 : (a < b ? -1 : (a > b ? 1 : 0)));
}

function colCompare(a,b,col,dir)
{
  if ( col === "class_number" || a[col] == b[col] ) return dir*classNumberCompare(a.class_number,b.class_number);
  return a[col] < b[col] ? -dir : dir;
}

function showClassTable () {
  const dir = classSort.dir;
  const col = classSort.curCol;
  classRows.sort(function(a,b) { return colCompare(a,b,col,dir); });
  classSort.prevCol = col;
  $('#class-table-header').html((dept ? `Course ${dept} has `:'') +
    `${counts[dept].classes} classes with ${counts[dept].students} students in ${counts[dept].groups} groups for ${current_term_pretty} <label class="link deptonly"  style="font-weight:normal; float:right;" onclick="dept=''; showClassTable();">index</label>`);
  $('#class-rows').html(renderRows());
  const q = $('#class-table th.active');  q.removeClass('asc'); q.removeClass('desc'); q.removeClass('active');
  $('#'+col).addClass('active');  $('#'+col).addClass(dir>0 ? 'asc' : 'desc');
}

function ajaxToggle(name, value) {
  if ( ! loaded ) return false;
  ajaxToggle[name] = value;
  if ( ajaxToggle[name+'Pending'] ) return false;
  ajaxToggle[name+'Pending'] = true;
  window.setTimeout(function(){
    $.ajax({url: '/_toggle', data: { 'name': name, 'value': ajaxToggle[name] }});
    ajaxToggle[name+'Pending'] = false;
    }, 500);
  return true;
}

document.addEventListener('DOMContentLoaded', function() {

  const t = toggles.st || '-students';
  console.log(t);
  classSort = { curCol: t.slice(1), prevCol: '', dir: t[0] == '-' ? -1 : 1 };
  classRows = Object.keys(counts).map(formatRow);
  $('#class-table th').click(headerClick);
  $('#class-rows').html(renderRows(classRows));
  showClassTable();
  loaded = true;
  console.log(isLive ? "We are live!" : "We are in the sandbox.");
});

</script>

{% endif %}

{% endblock %}
