<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{meta_description|striptags}}"/>
    
    <title>pset partners</title>
  
    <!-- main style sheet -->
    <link id="style_css" href="{{ url_for('css') }}" rel="stylesheet" type="text/css" />

    <!-- static html content we are happy to let the browser cache (e.g. captions and dropdown options) -->
    <script defer src="{{ url_for('static', filename='options.js') }}"></script>

    <!-- jQuery -->
    <script defer
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
            crossorigin="anonymous"></script>

    <!-- requires jquery -->
    <script defer src="{{ url_for('static', filename='psetpartners.js') }}"></script>

    <!-- multi select derivded from select-pure -->
    <script defer src="{{ url_for('static', filename='select-pure.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select-pure.css') }}" />

    {% block extra_head -%}{%- endblock extra_head %}
  </head>
  <body>
  {% block body -%}{%- endblock body %}
  </body>
</html>
