{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Code of conduct</h2>

<p>
  We expect all students to abide by the MIT standards that are spelled out in the <a href="https://handbook.mit.edu">Mind and Hand Book</a>.
</p>
  Most of these standards involve things students should not do.  At pset partners we also have expectations about what students <b>should do</b>:
</p>
<ul class="faq" style="margin-left:10px;">
  <li>First and foremost, we expect students using pset partners to be welcoming.
    <p>When you receive an email from pset partners announcing the formation of a new group, you should <b>reach out</b> to your new partners by email; you should also reach out to any new students who are added to your group.  We can think of nothing more demoralizing than joining a new pset group only to be greeted with silence from your supposed "partners"; no student should ever have to experience this.</p>
  </li>
  <li>We also ask students using pset partners to be understanding.
    <p>There are myriad reasons why a student who fully intended to be an active member of a pset group may find themselves unable to do so, or they may decide that a particular group just isn't working for them.  In these circumstances it is better for everyone if that student leaves the group by clicking the <b>leave</b> button on pset partners, which will send a notification to the group.  But please, <b>don't ghost your group</b>.</p>
    <p>No one should take offense when this happens.  One of the main goals of pset partners is to make it easy to form new groups and to expand existing groups.  We expect that group membership may be fluid, and that's fine; it allows everyone to get to know more people.</p>
  </li>
</ul>
<p>
  Using pset partners is a two-step process: the first is finding a group, the second is connecting with them.  This site is meant to facilitate the first step, but the second step <b>requires effort</b> by you and your partners.  The success of pset partners is largely in the hands of the students who use it, and their willingness to engage with each other.
</p>
{% if confirm %}
<button type="button" class="confirm" tabindex="1" type="button" onclick="location.href='{{url_for('confirm_conduct')}}'">count me in</button>
<button type="button" class="cancel" tabindex="2" onclick="location.href='{{url_for('logout')}}'">no thanks</button>
{% else %}
<a href="{{url_for('index')}}">Return to main page</a>
{% endif %}
</div>

{% endblock %}
