{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Contact information</h2>

 First, please check the <a href="{{ url_for("faq") }}">FAQ</a> to see if your question or issue is addressed there.
 <ul>
    <li>
    If you have a question or need help using the site please <a href="mailto:psetpartners@mit.edu?subject=psetpartners support" target="_blank">email us</a>; we will try to respond within 24 hours.
    </li>
    <li><p>
    If you have a suggestion for how we can improve this site, please <a href="mailto:psetpartners@mit.edu?subject=psetpartners suggestion" target="_blank">send a feature request</a>.
    </li>
    <li>
    To report a software error, please <a href="mailto:psetpartners@mit.edu?subject=psetpartners bug report" target="_blank">submit a bug report</a> that includes your kerberos id and a short description of the problem and how to reproduce it.
      </ul>
  </li>
  </ul>

<p>
The current list of known bugs and outstanding feature requests can be found on our
<a href="https://github.com/andrewvsutherland/psetpartners/issues"
target="_blank">GitHub issue tracker</a>.
</p>


</div>

{% endblock %}
