{% extends 'homepage.html' %}
{% block content %}

<div class="announce">

<p>Oops, we ran into a problem verifying your credentials.  This is likely our fault, not yours!</p>

<p>If you are a registered student or an instructor teaching a course this term, <b>please email</b> <a href="mailto:psetpartners@mit.edu?subject=Access request">psetpartners@mit.edu</a> to request access. In your email, include your kerberos ID and at least one class that you are taking or teaching.</p>

<p>This problem seems to primarily occur with visiting faculty, students who are cross-registered, and special students (including MIT staff).
If this applies to you, please know that <b>you are welcome here!</b></p>

<p>We will grant your access request as quickly as possible (and within 24 hours in any case).  We apologize for the inconvenience.</p>
</div>
{% endblock %}
