{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Frequently asked questions</h2>

 <ul>
    <li><h4> Why is this FAQ so short?</h4>
      <p>Not many questions have been asked yet.  <a href="mailto:psetpartners@mit.edu?subject=Question about pset partners" target="_blank">Ask one!</a></p>
    </li>
    <li><h4> Who can use this site?</h4>
      <p>This web site is accessible to all current MIT students via <a href="https://ist.mit.edu/touchstone">Touchstone authentication</a>.  For the fall 2020 semester only <a href="https://math.mit.edu/academics/classes.php">classes listed in course 18</a> are available on pset partners.  Depending on how it goes this fall, we may expand in the spring.
    </li>
    <li><h4> Why are all the dorm and living group locations grayed-out in the location drop down?</h4>
      <p>Given that only a small proportion of the student population will be on campus this fall we didn't think it made sense to optimize pset groups according to physical location.  The "in-person" option for communication is disabled for the same reason (that doesn't mean you cannot meet anyone in person, simply that you can't set a preference for this on the pset partners website).
    </li>
 </ul>


</div>

{% endblock %}
