{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Frequently asked questions (updated 10 Feb 2021)</h2>

 <ul class="faq">
    <li>What is this site and how does it work?
      <p> Please read the short summary on our <a href="{{url_for(".about")}}">about page</a>.
    </li>
    <li>Who can use this site?
      <p>
        This site is open to all current MIT students and instructors via <a href="https://ist.mit.edu/touchstone">Touchstone authentication</a>.  Every MIT class listed with the registrar this term has been pre-registered with pset partners so that it can be activated by the responsible faculty member with a <a href="https://psetpartners.mit.edu">single click</a>.
      </p>
    </li>
    <li>Why isn't my class listed on pset partners?
      <p>
        Because your course has not been activatied &mdash; please contact your instructor.  We are <a href="emailto:psetpartners@mit.edu">happy to help</a> if they run into any problems.
      </p>
    </li>
    <li>Do I need to be registered for a class in order to join a pset group?
      <p>
        No, we know that registrations are often in flux at the start of the term and we don't want to slow down the process of finding you pset partners.  But we <b>strongly discourage</b> joining pset groups or the match pool in classes you are not seriously planning to take.  We know that life happens and plans change, but it is not fair to your classmates to join a group you don't intend to work with.
      </p>
    </li>
    <li>
      Why are the dorms and living groups currently grayed-out in the location drop down?
      <p>
        Given the current situation we don't think it made sense to organize pset groups based on physical location.  The "in-person" communication option is disabled for the same reason.
      </p>
    </li>
    <li>
      Which browsers do you support?
      <p>
        We support recent versions of <a href="https://brave.com">Brave</a>, <a href="https://www.google.com/chrome/">Chrome</a>, <a href="https://www.chromium.org/Home">Chromium</a>, <a href="https://www.microsoft.com/edge">Edge</a>, <a href="https://www.mozilla.org/firefox/">Firefox</a>, <a href="https://www.opera.com/">Opera</a>, and <a href="https://www.apple.com/safari/">Safari</a> running on most recent versions of <a href="https://www.google.com/chromebook/chrome-os/">Chrome OS</a>, linux (tested on <a href="https://pop.system76.com/">Pop! OS</a> and <a href="https://www.ubuntu.com">Ubuntu</a>), <a href="https://www.apple.com/macos">MacOS</a>, and <a href="https://www.microsoft.com/windows">Windows</a>, where recent means within the past few years.  We have not had time to test every feature on every platform, so there may well be bugs.  Please <a href="mailto:psetpartners@mit.edu?subject=Bug report for pset partners" target="_blank">let us know</a> if you find one.
      </p>

      <p>
        We do not (and never will) support <a href="https://docs.microsoft.com/en-us/lifecycle/faq/internet-explorer-microsoft-edge">Internet Explorer</a> (use <a href="https://www.microsoft.com/edge">Edge</a>).  We plan to add support for tablets running <a href="https://www.android.com/">Android</a> or <a href="https://www.apple.com/ios">iOS</a> in the near future.
      </p>
    </li>
    <li>
      What do the "public", "automatic", "permission", and "invitation" membership options mean?
      <p>
        Groups with <b>public</b> membership are open to all, and their membership is visible to everyone in the class.  All other groups are private, meaning their membership is not visible to students outside the group, but there are different ways private groups admit new members.
      </p>

      <p>
        All groups, including public groups, can admit new members via an invitation link created by an existing member; for groups with the <b>invitation</b> membership setting, this is the only way new members can join.  For private groups with <b>automatic</b> membership, the system may add new members with compatible schedules and preferences when it is matching students in the pool, and it may offer <b>match me now</b> links to compatible students that offer immediate membership.  For private groups with membership by <b>permission</b>, the system may instead offer <b>match me asap</b> links to compatible students; these links trigger an email to the group requesting permission to add a new member; any member of the group may approve or deny this request.
      </p>

      <p>
        In all cases new members can join only when the current size of the group is less than any size limit that has been set.  Private groups may change their membership settings at any time, but whether a group is public or private is fixed when the group is created.  All groups created by the pset partners matching algorithm are private group with membership set to <b>automatic</b> by default.
      </p>
    </li>
    <li>
      Who can see the information I enter on pset partners?
      <p>
        Your kerberos ID, preferred name and pronouns, departments, and year are visible to the instructors of any course you list on pset partners, and to all members of any group you join.  If that group is public this information will be visible to all the students in the class.  At present pset partners does not verify registration by class (nor would we want to, not everyone registers right away), so in principle this could include any current MIT student. But we <b>strongly discourage</b> students from using pset partners for any purpose other than finding pset groups in classes they are taking.
      </p>

      <p>
        The instructors of a class, which may include TA's they deputize, can view the membership of all groups in the class, including private groups, and they can see the membership setting of the group and whether it is full or not.  Instructors cannot see any information about the preferences of students or groups, nor can they see your hours of availability.  Department level administrators, including the department head, can see all the information the instructors in their department can see (this applies to all departments a class may be cross-listed in).
      </p>

      <p>
        Aggregated information about preferences and availability is <b>intentionally leaked</b> to other students in the class in the interest of <a href="https://en.wikipedia.org/wiki/Nudge_theory">nudging</a> students towards choices that will make it easier for the system to form compatible groups.  Every student can see their average hours of overlap with other students in their classes (a patient student could determine this figure hour by hour), and they can see the number of students that have selected each preference option, but not the strengths of those preferences.  This intentional information leaking should be benign in a large class, but in a small class it may make it possible for other students (but not instructors) to deduce your preference settings.
      </p>

      <p>
        The <a href="{{url_for('.acknowledgment')}}">administrators</a> of pset partners can access all the information you enter.  We promise never to use this information for any purpose other than debugging and optimizing the matching algorithm, and in particular, to <b>not share it with anyone else, either within or outside of MIT</b>.  If and when someone develops a practical <a href="https://en.wikipedia.org/wiki/Homomorphic_encryption">homomorphic encryption</a> algorithm that we can easily use, we would be happy to offer an encryption option.  Our database and web server are housed at MIT and accessible to the small number of IT staff in the mathematics department who support us and without whom this website would not be possible (thank you!).  They have root privileges and can in principle access anything, but we trust them implicitly (they can already read all our email, for example).
      </p>
    </li>
    <li>How does the matching algorithm work?
      <p>
        The algorithm is a work in progress, but here is an overview of our current approach, which proceeds in three phases.  The input to the algorithm is a list of students in a class who have asked to be put in a pset group by joining a match pool, along with their availability and preferences.  This may include preferences for group size, when to start working, collaboration style, et cetera, as well as affinities, such as a desire to be grouped with students in the same department, or a diversity of departments.  The output of the algorithm is a list of new pset groups along with a list of unmatched students.
      </p>
      <p>
        The first phase of the algorithm is to partition the list of students into groups that satisfy as many size preferences as possible and do not violate any required size preferences; students who have not expressed a size preference are put into groups of size 3 by default, but may be placed in a groups of size 2 or 4 when necessary.  There may be students who cannot be put into a group at this stage because their is no way to satisfy a required size preference (in addition to student preferences, the system will not form groups of size one).
      </p>
      <p>
        The second phase of the algorithm involves swapping students in different groups.  Each group has a compatibility score that takes into account the overlap in hours of availability and the degree to which its members preferences are or are not satisfied, exponentially weighted by strength; this score is an integer that may be positive or negative.  The net compatibility of the matching is the sum of the compatibility scores of the groups. The swapping phase proceeds by ranking all possible swaps based on the change in the net compatibility score and executing the highest ranked swap if it imporves net compatibility.  This step is repeated until there is no swap that improves net compatibility, which is guaranteed to eventually happen since compatibility scores are discrete and bounded.
      </p>
      <p>
        At the end of phase two the matching is guaranteed to be <b>pairwise stable</b>, in the sense that there is no pair of students who would  be happy to change places, in fact there is no pair of students whose average happiness would be improved by changing places (average happiness can improve by making one student a lot happier and one student slightly less happy).  But there could be a pair of swaps that would in combination make everyone happier, and it could be that simply moving a single student from one group to another would improve net compatibility.  Moreover, it is possible that a different initial assignment in phase one might produce a higher net compatibility score at the end of phase two.  Future versions of the algorithm will take into account a broader range of optimizations.
      </p>
      <p>
        After phase two there may still be students with required preferences that are not satisfied; this is rare in large pools but can easily happen in a small pool (which is why we <b>discourage</b> students from setting <b>required preferences</b>).  These students are removed from their group and put in the list of unmatched students, along with any students left in groups of size one as a result.  The remaining groups are then created.
      </p>
      <p>
        The third phase of the algorithm tries to reduce and ideally eliminate the list of unmatched students.  For each student on the list the system ranks all existing groups in the class with <b>automatic membership</b> and space available, according to the change in compatibility score caused by adding the student to the group.  This list of groups may include groups that were previously created by students or by the system in an earlier matching, as well as the groups that were created at the end of phase two.  However, the system <b>excludes</b> groups that the student <b>previously left</b>. The system will add the student to the top-ranked group if the change in compatibility is above a certain threshold (the new student is allowed to reduce the group's compatibility score by a small amount, but not by too much).
      </p>
      <p>
        The group ranking algorithm used in phase 3 is also used to generate <b>match me now</b> links that are presented to unmatched students whenever they view the "Partners" panel for the class (but the threshold is higher than the one used during pool matching).  This option may be disabled for students who leave groups too frequently -- changing groups when you need to is fine and even encouraged, but we don't want students to abuse the match me now option by using it too often, as it creates a certain amount of disruption in an existing group.
      </p>
    </li>
    <li>Your matching algorithm seems pretty <i>ad hoc</i>, surely there are well-known solutions to this problem?
      <p>
        That's what we thought!  We originally planned to use a generalization of the <a href="https://en.wikipedia.org/wiki/Gale%E2%80%93Shapley_algorithm">Gale-Shapley</a> algorithm, which solves the <a href="https://en.wikipedia.org/wiki/Stable_marriage_problem">stable marriage problem</a>.  This algorithm is widely used in many practical contexts, including content delivery networks, admissions, and healthcare.
      </p>
      <p>
        There are a number of generalization of the stable marriage problem that have been solved with efficient algorithms.  This includes the <a href="https://en.wikipedia.org/wiki/Stable_roommates_problem">stable roommates</a> problem, which partitions a set of students into pairs, and the <a href="https://link.springer.com/chapter/10.1007/3-540-45061-0_43">stable marriages with multiple partners</a> problem, which generalizes the stable marriage problem to marriages with multiple "gendered" partners (in this context "gender" simply means a partition of the input set into two blocks with only inter-block preferences allowed).
      </p>
      <p>
        Unfortunately none of these generalizations is as general as the problem we are trying to solve.  Not only are we trying to create groups of arbitrary size among an arbitrary set of unpartitioned participants, we need to take into account constraints that cannot be specified pairwise, including preferences for group size and hours of overlap.  Having said that, we are mathematicians, not computer scientists or economists, so there may well be approaches that we are not aware of -- if you know of one, please <a href="mailto:psetpartners@mit.edu?subject=A matching algorithm you should consider" target="_blank">let us know</a>!
      </p>
      <p>The algorithm we came up with was developed under significant time constraints and are actively working to improve it.  If you are a student or researcher who is interested in helping us do this, please <a href="mailto:psetpartners@mit.edu?subject=I want to help pset partners" target="_blank">contact us</a>.  There is surely a UROP (or two) to be had...
      </p>
      <p>
    </li>
 </ul>
<a href="{{url_for('.index')}}">Return to main page</a>
</div>
<br><br>

{% endblock %}
