{% extends "homepage.html" %}
{% block content %}

<div class="text_content auto">

  <h2>Frequently asked questions (updated 12 Sep 2020)</h2>

 <ul>
    <li><h4> Who can use this site?</h4>
      <p>This web site is accessible to all current MIT students via <a href="https://ist.mit.edu/touchstone">Touchstone authentication</a>.  For the fall 2020 semester only <a href="https://math.mit.edu/academics/classes.php">classes listed in course 18</a> are available on pset partners.  Depending on how it goes this fall, we may expand in the spring.</p>
    </li>
    <li><h4> Why are all the dorms and living groups currently grayed-out in the location drop down?</h4>
      <p>Given that so many students will not be on campus this fall we didn't think it made sense to organize pset groups according to physical location.  The "in-person" communication option is disabled for the same reason.</p>
    </li>
    <li><h4> Which platforms do you support?</h4>
      <p>We support recent versions of <a href="https://brave.com">Brave</a>, <a href="https://www.google.com/chrome/">Chrome</a>, <a href="https://www.chromium.org/Home">Chromium</a>, <a href="https://www.microsoft.com/edge">Edge</a>, <a href="https://www.mozilla.org/firefox/">Firefox</a>, <a href="https://www.opera.com/">Opera</a>, and <a href="https://www.apple.com/safari/">Safari</a> running on most recent versions of <a href="https://www.google.com/chromebook/chrome-os/">Chrome OS</a>, linux (tested on <a href="https://pop.system76.com/">Pop! OS</a> and <a href="https://www.ubuntu.com">Ubuntu</a>), <a href="https://www.apple.com/macos">MacOS</a>, and <a href="https://www.microsoft.com/windows">Windows</a>, where recent means within the past few years.  We have not had time to test every feature on every platform, so there may well be bugs.  Please <a href="mailto:psetpartners@mit.edu?subject=Bug report for pset partners" target="_blank">let us know</a> if you find one.</p>

      <p>We do not support <a href="https://docs.microsoft.com/en-us/lifecycle/faq/internet-explorer-microsoft-edge">Internet Explorer</a> (use Edge).  We plan to add support for tablets running <a href="https://www.android.com/">Android</a> or <a href="https://www.apple.com/ios">iOS</a> in the near future.</p>
    </li>
    <li><h4>What do the "public", "automatic", "permission", and "invitation" membership options mean?</h4>
      <p>Groups with <b>public</b> membership are open to all, and their membership is visible to everyone in the class.  All other groups are private, meaning their membership is not visible to anyone outside the group, but there are different ways private groups admit new members.</p>

      <p>All groups, including public groups, can admit new members via an invitation link created by an existing member; for groups with the <b>invitation</b> membershp setting, this is the only way new members can join.  For private groups with <b>automatic</b> membership, the system may add new members with compatible schedules and preferences when it is matching students in the pool, and it may offer <b>match me now</b> links to compatible students that offer immediate membership.  For private groups with membership by <b>permission</b>, the system may instead offer <b>match me asap</b> links to compatible students; these links trigger an email to the group requesting permission to add a new member; any member of the group may approve or deny this request.</p>

      <p>In all cases new members can join only when the current size of the group is less than any size limit that has been set.  Private groups may change their membership settings at any time, but whether a group is public or private is fixed when the group is created.  All groups created by the pset partners matching algorithm are private group with membership set to <b>automatic</b> by default.</p>
    </li>
    <li><h4>Who has access to the information I enter on pset partners?</h4>
      <p>Your kerberos ID, preferred name and pronouns, departments, and year are visible to the instructors of any course you list on pset partners, and to all members of any group you join.  If that group is a public this information will be visible to all the students in the class.  At present pset partners does not verify registration by class (nor would we want to, not everyone registers right away), so in principle this could include any current MIT student. But we <b>strongly discourage</b> students from using pset partners for any purpose other than finding pset groups in classes they are taking.</p>

      <p>The instructors of a class, which may include TA's they deputize, can view the membershp of all groups in the class, including private groups, and they can see the membership setting of the group and whether it is full or not.  Instructors cannot see any information about the preferences of students or groups, nor can they see your hours of availability.</p>

      <p>Aggregated information about preferences and availability is intentionally leaked to other students in the class in the interest of <a href="https://en.wikipedia.org/wiki/Nudge_theory">nudging</a> students towards choices that will make it easier for the system to form compatible groups.  Every student in can see the average hours of overlap they have with the other students in their classes (a patient student could determine this figure hour by hour), and they can also see the number of students that have selected each preference option, but not the strengths of those preferences.  This intentional nformation leaking is likely benign in a large class, but in a small class it may make it possible for other students (but not instructors) to deduce your preference settings.</p>

      <p>The <a href="{{url_for('.acknowledgment')}}">administrators</a> of pset partners can access all the information you enter.  But we are sworn to secrecy and promise never to use this information for any purpose other than debugging and optimizing the matching algorithm.  If and when someone comes up with a truly practical <a href="https://en.wikipedia.org/wiki/Homomorphic_encryption">homomorphic encryption</a> algorithm we can install as a python package, we would be happy to offer an encryption option.  Our database and web server are housed in the MIT mathematics department and are accessible to the small number of IT staff who support us (thank you!).  They have root access and can in principle access anything, but they surely have better things to do with their time. </p>
    </li>
 </ul>
<a href="{{url_for('.index')}}">Return to main page</a>

</div>

{% endblock %}
