<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

{% if not user.is_authenticated or not user.is_instructor %}

<h3>User "{{user.kerb}}" is not authorized to access this page.</h3>

This is a bug, please report is to <a href="mailto:psetpartners@mit.edu">psetpartners@mit.edu</a>.

{% else %}

{% if user.is_admin %}

<p style="font-size:120%;"><b>{{classes[0].class_number}}&nbsp;{{classes[0].owner_name}}&nbsp;({{', '.join(classes[0].instructor_kerbs)}})</b> <a style="float:right; font-size:16px;" href="{{url_for('.admin')}}">index</a></p>

{% else %}

<h3>{{user.preferred_name}}</h3>

{% endif %}

{% set active=classes|selectattr("active","true")|list %}
{% set inactive = classes|selectattr("active","false")|list %}
{% set owned = classes|selectattr("owner_kerb", "equalto", user.kerb)|list %}

{% if classes|length == 0 %}
<p>You have reached this page because Touchstone has identified you as a non-student (affiliate, staff, or faculty) but you are not currently registered as an instructor on pset partners for a class that is offerred during the <b>{{current_term_pretty}}</b> term</p>
<ul class="faq">
<li>Instructors<p>If you are an instructor for a class this term, please accept our apologies for the inconvenience; the registration data provided to pset partners identifies only one responsible faculty member per class (even when the catolog lists multiple names).   Please contact the responsible faculty member for your course and ask them to add you as an instructor.  If you do not know who that is, or if it should be you, please <a href="mailto:psetpartners@mit.edu">contact us</a>.</p></li>

<li>Students<p>If you reached this page it is because Touchstone identified you in a differerent role &mdash; this occaasionally happes to special students and/or cross-registered students.  Please <a href="mailto:psetpartners@mit.edu">contact us</a> so that we can update your pset partners profile.  In your eamil please include your name, kerberos identifier, and at least one subject number of a course you are registered for this term.</p></li>

<li>Staff and affiliates<p>The pset partners website is only available to students and instructors, but please feel free to explore our <a href="https://psetpartners-test.mit.edu">test site</a> or browse our <a href="{{url_for('.faq')}}">FAQ</a>.
</ul>
{% else %}

{% if inactive %}
<p align="justify">According to our records, you are the responsible faculty member for the following classes which are <b>not currently active</b> on pset partners:</p>
<ul class="classlist">
{% for c in inactive %}
<li>{{ ' / '.join(c['class_numbers']) + ' ' + c['class_name']  }}<button type="button" class="confirm" tabindex="-1" onclick="location.href='{{url_for('.activate',class_id=c['id'])}}';">activate</button></li>
{% endfor %}
</ul>
{% endif %}

{% if active %}
{% if owned|length == 0 and active|length == 1 %}
<p align="justify">According to our records, you are teaching <b>{{ ' / '.join(classes[0]['class_numbers']) + " " + classes[0]['class_name']}}</b>.</p>
{% else %}
<p>According to our records, you are currently teaching the following classes using pset partners (click a class to select it):</p>
<ul class="classlist">
{% for i in range(active|length) %}
{% set c = active[i] %}
<li id="li-{{i}}">
  <label class="clickable" onclick="toggleClass({{i}});">{{ ' / '.join(c['class_numbers']) + ' ' + c['class_name']  }}</label>
  {% if c['owner_kerb'] == user.kerb %}
    <label class="paction edit-{{i}}" onclick="$('.edit-{{i}}').toggle();">edit</label>
    <button type="button" class="cancel edit-{{i}}" tabindex="-1" style="display:none;" onclick="resetClass('{{i}}'); $('.edit-{{i}}').toggle();">nevermind</button>
    <button type="button" class="confirm edit-{{i}}" id="submit-{{i}}" tabindex="-1" style="display:none;" disabled="disabled"; onclick="updateClass(this,{{i}});">update</button>
    <form class="edit-{{i}}" id="form-{{i}}" action="{{ url_for('.save_class') }}" method="post" style="display:none;">
    <input type="hidden" name="class_id" value="{{c['id']}}">
      <p style="margin: 5px 0 5px 18px;">
        <b>Instructors</b>:
          {% set n = c['instructor_kerbs']|length %}
          {% for j in range(n) %}
            {% if c['instructor_names'] and c['instructor_names'][j] %}
              {{ c['instructor_kerbs'][j] + " (" + c['instructor_names'][j] + (")," if j+1 < n else ")") }}
            {% else %}
              {{ c['instructor_kerbs'][j] + ("," if j+1 < n else "") }}
            {% endif %}
          {% endfor %}
      </p>
      <table class="input" style="margin-top:10px; margin-left:40px;">
        <tr>
          <td class="caption" style="width:150px;">Class name</td>
          <td class="value">
            <input class="value required" spellcheck="false" id="name-{{i}}" name="class_name" value="{{c['class_name']}}"  tabindex="1" placeholder="you may enter up to {{maxlength['class_name']}} characters" maxlength="{{maxlength['class_name']}}" oninput="checkChanges({{i}});"/>
         </td>
          <td class="alertinfo" id="name-alert-{{i}}" style="display:none;">invalid class name</td>
        </tr>
        <tr>
          <td class="caption" style="width:150px;">Add instructor</td>
          <td class="value">
            <input class="value required" spellcheck="false" name="add_kerb" id="add-kerb-{{i}}" tabindex="2" value="" placeholder="enter a Kerberos id or list of Kerberos ids" oninput="this.value = this.value.toLowerCase(); checkChanges({{i}});"/>
          </td>
          <td class="alertinfo" id="kerb-alert-{{i}}" style="display:none;">invalid Kerberos identifier</td>
        </tr>
        {% if c['instructor_kerbs']|length > 1 %}
        <tr>
          <td class="caption" style="width:150px;">Remove instructor</td>
          <td class="value">
            <span class="select" id="select-remove-kerb-{{i}}" tabindex="4"></span>
            <input type="hidden" name="remove_kerb" id="remove-kerb-{{i}}" value="" onchange="checkChanges({{i}});"/>
          </td>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td class="caption" style="width:150px;">Next match date</td>
          <td class="value">
            <span class="select" id="select-match-date-{{i}}" tabindex="3"></span>
            <input type="hidden" name="match_delta" id="match-date-{{i}}" value="0" onchange="checkChanges({{i}});"/> <!-- value is offset from current match date -->
          </td>
        </tr>
      </table>
    </form>
  {% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% endif %}

{% if active|length %}
<p id="student-table-preamble" style="display:none;"></p>

<h3 style="text-align:center;" id="student-table-header" style="display:none;"></h3>

<table class="mtab" id="student-table" style="display:none;">
  <thead><tr>
    <th id="name" class="sortable">name</th>
    <th id="depts" class="sortable">depts</th>
    <th id="year" class="sortable">year</th>
    <th id="email" class="sortable">email</th>
    <th id="group" class="sortable">group</th>
    <th id="visibility" class="sortable">type</th>
  </tr></thead>
  <tbody id="student-rows"></tbody>
</table>

{% endif %}

<script>
/* global kerbRE, classnameRE */ // options.js
/* global makeSingleSelect, updateSingleSelect */ // in psetpartners.js

// jshint ignore:start
const isLive = {{ livesite|tojson|safe }};
const classes = {{ active|tojson|safe }};
const toggles = {{ user.toggles|tojson|safe }};
const current_user = "{{ user.kerb }}";
const current_term = "{{ current_term_pretty }}";
// jshint ignore:end
/* global classes, toggles, isLive, current_user, current_term */

let loaded = false;
let classIndex = 0;
let classSort = [];
let classRows = [];
let classKerbOptions = [];
let classDateOptions = [];

const visibilityPretty = ['invitation', 'permission', 'automatic', 'public'];
const statusPretty = ['no action', 'member', 'in pool', 'match requested', 'matching', 'matching'];

// student_row_cols = [ 'full_name', 'preferred_name', 'preferred_pronouns', 'departments', 'year', 'kerb', 'status',
//                      'group_name', 'visibility', 'size', 'max']

function formatRow(s) {
  return {
    kerb: s[5],
    name: s[0] || s[1] || s[5],
    depts: s[3],
    year:  s[4] == '5' ? 'G' : (s[4]||'-'),
    email: s[5],
    group: s[7],
    status: parseInt(s[6]||'0'),
    visibility: parseInt(s[8]||'0'),
    full: s[10] ? parseInt(s[10]) <= parseInt(s[9]||'0') : false,
  };
}

function renderRows() {
  const date = classes[classIndex].next_match_date;
  return classRows[classIndex].map(row => `<tr>
    <td style="text-align:left;">${row.name}</td>
    <td>${row.depts.split(' ').join(', ')}</td>
    <td>${row.year}</td>
    <td style="text-align:right;"><a href="mailto:${row.email}@mit.edu">  ${row.email}@mit.edu</a></td>
    <td style="text-align:left;${row.group ? '' : 'font-style:italic; font-size:90%; color:#555;'}">${row.group||('&nbsp;&nbsp;'+statusPretty[row.status])+(row.status==2?' for '+date:'')}</td>
    <td style="text-align:left;">${row.group ? visibilityPretty[row.visibility] + (row.full?' (full)':'') : ''}</td>
   </tr>`).join('');
}

function toggleClass(i) {
  if ( classes.length === 0 ) {
    classIndex = null;
    $('#student-table-preamble').hide();
    $('#student-table-header').hide();
    $('#student-table').hide();
    return;
  }
  if ( i > classes.length ) i = classes.length-1;
  if ( i < 0 ) i = 0;
  classIndex = i;
  ajaxToggle('ct', classes[i].class_number);
  if ( classRows[i].length === 0 ) {
    $('#student-table-preamble').html(`No students on pset partners currrently have <b>${classes[i].class_numbers.join(' / ')}</b> listed in their profile.  Be sure to <b>let your students know</b> that your class is now available on pset partners.  We also suggest posting a link to <a href="{{url_for('.index')}}">psetpartners.mit.edu</a> on your course homepage.`);
    $('#student-table-preamble').show();
    $('#student-table-header').hide();
    $('#student-table').hide();
  } else {
    $('#student-table-preamble').html(`The table below lists the <b>${classRows[i].length}</b> students and <b>${classes[i].groups}</b> groups in <b>${classes[i].class_numbers.join(' / ')}</b> using pset partners in <b>${current_term}</b>.`);
    $('#student-table-preamble').show();
    $('#student-table-header').html(classes[i].class_number + ' ' + classes[i].class_name);
    $('#student-table-header').show();
    $('#student-rows').html(renderRows(classRows[i]));
    showStudentTable();
  }
  $('.classlist li').removeClass('selected');
  $('#li-'+i).addClass('selected');
}

function headerClick (e) {
  classSort[classIndex].curCol = e.target.id;
  classSort[classIndex].dir = classSort[classIndex].curCol == classSort[classIndex].prevCol ? -classSort[classIndex].dir : 1;
  ajaxToggle('st-'+classes[classIndex].class_number, (classSort[classIndex].dir < 0 ? '-' : '+') +e.target.id);
  showStudentTable();
}

function colCompare(a,b,col,dir)
{
  if ( a[col] == b[col] ) {
    if (col == 'depts' ) return colCompare(a,b,'year',dir);
    if (col == 'visibility') return colCompare(a,b,'full',dir);
    if (col == 'full') return colCompare(a,b,'group',dir);
    if (col == 'group') return colCompare(a,b,'status',dir);
    if (col == 'name' ) return colCompare(a,b,'kerb',dir);

  }
  return a[col] < b[col] ? -dir : dir;
}

function showStudentTable () {
  const dir = classSort[classIndex].dir;
  const col = classSort[classIndex].curCol;
  classRows[classIndex].sort(function(a,b) { return colCompare(a,b,col,dir); });
  classSort[classIndex].prevCol = col;
  $('#student-rows').html(renderRows());
  const q = $('#student-table th.active');  q.removeClass('asc'); q.removeClass('desc'); q.removeClass('active');
  $('#'+col).addClass('active');  $('#'+col).addClass(dir>0 ? 'asc' : 'desc');
  $('#student-table').show();
}

function ajaxToggle(name, value) {
  if ( ! loaded ) return false;
  ajaxToggle[name] = value;
  if ( ajaxToggle[name+'Pending'] ) return false;
  ajaxToggle[name+'Pending'] = true;
  window.setTimeout(function(){
    $.ajax({url: '/_toggle', data: { 'name': name, 'value': ajaxToggle[name] }});
    ajaxToggle[name+'Pending'] = false;
    }, 500);
  return true;
}


function checkChanges(i) {
  $('#submit-'+i).prop('disabled', $('#form-'+i).serialize() === $('#form-'+i).data('initial'));
  $('#kerb-alert-'+i).hide(); $('#name-alert-'+i).hide();
  $('#add-kerb-'+i).val($('#add-kerb-'+i).val().trim());
  if ( ! validateKerb($('#add-kerb-'+i).val())) { $('#kerb-alert-'+i).show(); $('#submit-'+i).prop('disabled',true); }
  if ( ! validateClassName($('#name-'+i).val().trim())) { $('#name-alert-'+i).show(); $('#submit-'+i).prop('disabled',true); }
}

function validateKerb(kerb) {
  kerbs = kerb.replace(/\s/g, '');
  if ( kerbs === "" ) return true;
  return kerbs.split(',').every(x => kerbRE.test(x));
}
function validateClassName(name) { return ( name.length >= 4 && classnameRE.test(name) ); }

function resetClass(i) {
  $('#name-'+i).val(classes[i].class_name);
  $('#add-kerb-'+i).val('');
  $('#match-date-'+i).val(classes[i].next_match_date ? '0' : 'none'); updateSingleSelect('match-date-'+i);
  checkChanges(i);
}

var submitting = false;

function updateClass(e,i) {
  if (submitting) return;
  submitting = true;
  $('.confirm,.submit').prop('disabled',true); // prevent double-clicking
  e.style.color='black'; e.style.cursor='wait';
  document.getElementById('form-'+i).submit();
}


document.addEventListener('DOMContentLoaded', function() {
  const tomorrow = new Date();  tomorrow.setHours(0,0,0,0);  tomorrow.setDate(tomorrow.getDate()+1); // tomorrow is the earliest date allowed
  for (let i = 0 ; i < classes.length ; i++ ) {
    const c = classes[i].class_number,  t = toggles['st-'+c] || '+name';
    classSort[i] = { curCol: t.slice(1), prevCol: '', dir: t[0] == '-' ? -1 : 1 };
    classRows[i] = classes[i].students.map(formatRow);
    if ( classes[i].owner_kerb === current_user ) {
      if ( classes[i].instructor_kerbs.length > 1 ) {
        classKerbOptions[i] = [{label:'', value:''}];
        for (let j = 0 ; j < classes[i].instructor_kerbs.length ; j++ ) {
          if ( classes[i].instructor_kerbs[j] != classes[i].owner_kerb ) {
            const s = classes[i].instructor_names[j] ? ' (' + classes[i].instructor_names[j] + ')' : '';
            classKerbOptions[i].push({ 'label': classes[i].instructor_kerbs[j] + s, 'value': classes[i].instructor_kerbs[j] });
          }
        }
        makeSingleSelect('remove-kerb-'+i, classKerbOptions[i], { placeholder: 'select an instructor to remove' });
      }
     classDateOptions[i] = [{label: 'none', value: 'none'}];
      if ( classes[i].next_match_date ) {
        const m = new Date(classes[i].next_match_date); m.setHours(0,0,0,0);
        if ( m.getFullYear() < tomorrow.getFullYear() ) m.setFullYear(tomorrow.getFullYear());
        if ( m < tomorrow ) m.setDate(tomorrow.getDate());
        for ( let delta = Math.floor((tomorrow-m) / (24*3600*1000)) ; delta <= 14 ; delta++ ) {
          const d = new Date(); d.setDate(m.getDate()+delta);
          classDateOptions[i].push({ 'label': d.toDateString(), 'value': ''+delta});
        }
      } else {
        for ( let delta = 0 ; delta <= 14 ; delta++ ) {
          const d = new Date(); d.setDate(tomorrow.getDate()+delta);
          classDateOptions[i].push({ 'label': d.toDateString(), 'value': ''+delta});
        }
        $('#match-date-'+i).val('none');
      }
      makeSingleSelect('match-date-'+i, classDateOptions[i], { placholder: 'select a date' });
      $('#form-'+i).data('initial',$('#form-'+i).serialize());
    }
  }

  $('#student-table th').click(headerClick);
  if ( toggles.ct && classes.length ) toggleClass(classes.findIndex(x => x.class_number == toggles.ct));
  else toggleClass(0);
  loaded = true;
  console.log(isLive ? "We are live!" : "We are in the sandbox.");
});

</script>
{% endif %}

{% endblock %}
