<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

{% if not user.is_authenticated %}

<h3>User "{{user.kerb}}" not authenticated.</h3>

This is a bug, please report is to <a href="mailto:psetpartners@mit.edu">psetpartners@mit.edu</a>.

{% else %}

<h2>{{user.preferred_name}}</h2>

{% if (user.classes|length) == 0 %}
<p>You do not have access to this site because you are not a student and are not registered as an instructor of one of the classes using the site this term.  For the {{current_term_pretty}} term only classes in course 18 are using pset partners.</p>
<p>Please <a href="mailto:psetpartners@mit.edu">contact us</a> if this information is incorrect.</p>
<p>
If you are an instructor or staff member outside of course 18 interested in using pset partners, please contact <a href="mailto:drew@math.mit.edu">drew@math.mit.edu</a>.  We plan to expand the site beyond course 18 in the spring.
</p>
{% elif (user.classes|length) == 1 %}
<p align="justify">According to out records, you are an instructor for <b>{{ user.classes[0]['class_number'] + " " + user.classes[0]['class_name']}}</b> this term.
{% else %}
According to our records, you are an instructor for the following courses this term:
<ul>

{% if (user.classes|length) > 0 %}

{% for i in range(user.classes|length) %}
{% set c = user.classes[i] %}
<li style="margin:8px 0;"> <label style="color:var(--mit-maroon);" onclick="console.log({{i}}); toggleClass({{i}},{{user.classes|length}});">{{ c['class_number'] + ' ' + c['class_name']  }}</label></li>
{% endfor %}
</ul>
{% endif %}
The table below lists the students who have entered this course into their pset partner profile; this does not necessarily mean that they are registerd for the course.
No matchings have taken place yet, so most students have yet to form groups.  The first matching is currently scheduled to take place <b>{{user.classes[0]['next_match_date']}}</b>.
</p><p>
Please contact <a href="mailto:psetpartners@mit.edu">psetpartners@mit.edu</a> if you have any questions or concerns.

{% for i in range(user.classes|length) %}
{% set c = user.classes[i] %}
<h3 style="text-align:center; {% if i > 0 %} display:none; {% endif %}" class="class-{{i}}"> {{c['class_number'] + " " + c['class_name']}}</h3>

<table class="mtab class-{{i}}" {% if i > 0 %} style="display:none;" {% endif %}>
  <head><tr><th>name</th><th>depts</th><th>year</th><th>email</th><th>pset group</th></tr></head>
  <tbody>
  {% for s in user.classes[i].students %}
    {% set y = 'G' if s['year'] == 5 else (s['year'] if s['year'] else '-') %}
    <tr><td style="text-align:left">{{s['preferred_name']}}</td><td>{{(s['departments']|join(",")) if s['departments'] else '-'}}</td><td>{{y}}</td><td><a href="mailto{{s['kerb']}}@mit.edu">{{s['kerb']}}@mit.edu</a></td><td style="text-align:left">{{s['group_name']}}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}

{% endif %}

{% endif %}

<script>
function toggleClass(i,n) {
    $('.class-'+i).show();
    for (let j = 0 ; j < n ; j++ ) if ( j != i ) $('.class-'+j).hide();
}
</script>

{% endblock %}
