<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

{% if not user.is_authenticated or not user.is_instructor %}

<h3>User "{{user.kerb}}" is not authorized to access this page.</h3>

This is a bug, please report is to <a href="mailto:psetpartners@mit.edu">psetpartners@mit.edu</a>.

{% else %}

{% if user.is_admin %}

<p style="font-size:120%;"><b>{{classes[0].class_number}}</b> {{', '.join(classes[0].instructor_names)}} <a style="float:right; font-size:16px;" href="{{url_for('.admin')}}">index</a></p>


{% else %}

<h3>{{user.preferred_name}}</h3>

{% if (user.classes|length) == 0 %}
<p>You do not have access to this site because Touchstone has not identified you as a student and you are not listed as an instructor of one of the classes using the site this term.  For the {{current_term_pretty}} term only classes in course 18 are using pset partners.</p>
<p>Please <a href="mailto:psetpartners@mit.edu">contact us</a> if this information is incorrect.</p>
<p>
If you are an instructor or staff member outside of course 18 interested in using pset partners, please contact <a href="mailto:drew@math.mit.edu">drew@math.mit.edu</a>.  We plan to expand the site beyond course 18 in the spring.
</p>
{% else %}

{% if (user.classes|length) == 1 %}
<p align="justify">According to our records, you are teaching <b>{{ user.classes[0]['class_number'] + " " + user.classes[0]['class_name']}}</b>.</p>
{% else %}
<p>According to our records, you are teaching the following classes this term:</p>
<ul>
{% for i in range(user.classes|length) %}
{% set c = user.classes[i] %}
<li style="margin:8px 0;"> <label class="clickable" onclick="toggleClass({{i}});">{{ c['class_number'] + ' ' + c['class_name']  }}</label></li>
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% endif %}

{% if classes|length %}
<p>
The table below lists the <label class="highlight" id="students">?</label> students in <label class="highlight" id="class_number">?</label> using pset partners in the {{current_term_pretty}} term.
</p>
<h3 style="text-align:center;" id="student-table-heading">?</h3>

<table class="mtab" id="student-table">
  <thead><tr>
    <th id="name" class="sortable">name</th>
    <th id="depts" class="sortable">depts</th>
    <th id="year" class="sortable">year</th>
    <th id="email" class="sortable">email</th>
    <th id="group" class="sortable">group</th>
    <th id="visibility" class="sortable">type</th>
  </tr></thead>
  <tbody id="student-rows"></tbody>
</table>

{% endif %}

<script>
// jshint ignore:start
const isLive = {{ livesite|tojson|safe }};
const classes = {{ classes|tojson|safe }};
const toggles = {{ user.toggles|tojson|safe }};
// jshint ignore:end
/* global classes, toggles, isLive */

let loaded = false;
let classIndex = 0;
let classSort = [];
let classRows = [];

const visibilityPretty = ['invitation', 'permission', 'automatic', 'public']
const statusPretty = ['no action', 'member', 'in pool', 'match requested', 'matching', 'matching'];

// student_row_cols = [ 'full_name', 'preferred_name', 'preferred_pronouns', 'departments', 'year', 'kerb', 'status',
//                      'group_name', 'visibility', 'size', 'max']

function formatRow(s) {
  return {
    kerb: s[5],
    name: s[0] || s[1] || s[5],
    depts: s[3],
    year:  s[4] == '5' ? 'G' : (s[4]||'-'),
    email: s[5],
    group: s[7],
    status: parseInt(s[6]||'0'),
    visibility: parseInt(s[8]||'0'),
    full: s[10] ? parseInt(s[10]) <= parseInt(s[9]||'0') : false,
  };
}

function renderRows() {
  date = classes[classIndex].next_match_date;
  return classRows[classIndex].map(row => `<tr>
    <td style="text-align:left;">${row.name}</td>
    <td>${row.depts.split(' ').join(', ')}</td>
    <td>${row.year}</td>
    <td style="text-align:right;"><a href="mailto:${row.email}@mit.edu">  ${row.email}@mit.edu</a></td>
    <td style="text-align:left;${row.group ? '' : 'font-style:italic; font-size:90%; color:#555;'}">${row.group||('&nbsp;&nbsp;'+statusPretty[row.status])+(row.status==2?' for '+date:'')}</td>
    <td style="text-align:left;">${visibilityPretty[row.visibility]}${row.full?' (full)':''}</td>
   </tr>`).join('');
}

function toggleClass(i) {
  if ( i < 0 ) i = 0;
  $('#students').html(''+classRows[i].length);
  $('#class_number').html(''+classes[i].class_number);
  $('#match-date').html(classes[i].next_match_date);
  $('#student-table-heading').html(classes[i].class_number + ' ' + classes[i].class_name);
  $('#student-rows').html(renderRows(classRows[i]));
  classIndex = i;
  ajaxToggle('ct', classes[i].class_number);
  showStudentTable();
}

function headerClick (e) {
  classSort[classIndex].curCol = e.target.id;
  classSort[classIndex].dir = classSort[classIndex].curCol == classSort[classIndex].prevCol ? -classSort[classIndex].dir : 1;
  ajaxToggle('st-'+classes[classIndex].class_number, (classSort[classIndex].dir < 0 ? '-' : '+') +e.target.id);
  showStudentTable();
}

function colCompare(a,b,col,dir)
{
  if ( a[col] == b[col] ) {
    if (col == 'depts' ) return colCompare(a,b,'year',dir)
    if (col == 'visibility') return colCompare(a,b,'full',dir);
    if (col == 'full') return colCompare(a,b,'group',dir);
    if (col == 'group') return colCompare(a,b,'status',dir)
    if (col == 'name' ) return colCompare(a,b,'kerb',dir)

  }
  return a[col] < b[col] ? -dir : dir;
}

function showStudentTable () {
  const dir = classSort[classIndex].dir;
  const col = classSort[classIndex].curCol;
  classRows[classIndex].sort(function(a,b) { return colCompare(a,b,col,dir); });
  classSort[classIndex].prevCol = col;
  $('#student-rows').html(renderRows());
  const q = $('#student-table th.active');  q.removeClass('asc'); q.removeClass('desc'); q.removeClass('active');
  $('#'+col).addClass('active');  $('#'+col).addClass(dir>0 ? 'asc' : 'desc');
}

function ajaxToggle(name, value) {
  if ( ! loaded ) return false;
  ajaxToggle[name] = value;
  if ( ajaxToggle[name+'Pending'] ) return false;
  ajaxToggle[name+'Pending'] = true;
  window.setTimeout(function(){
    $.ajax({url: '/_toggle', data: { 'name': name, 'value': ajaxToggle[name] }});
    ajaxToggle[name+'Pending'] = false;
    }, 500);
  return true;
}

document.addEventListener('DOMContentLoaded', function() {
  for (let i = 0 ; i < classes.length ; i++ ) {
    const c = classes[i].class_number,  t = toggles['st-'+c] || '+name';
    classSort[i] = { curCol: t.slice(1), prevCol: '', dir: t[0] == '-' ? -1 : 1 };
    classRows[i] = classes[i].students.map(formatRow);
  }
  $('#student-table th').click(headerClick);
  if ( toggles.ct && classes.length ) toggleClass(classes.findIndex(x => x.class_number == toggles.ct));
  else toggleClass(0);
  loaded = true;
  console.log(isLive ? "We are live!" : "We are in the sandbox.");
});

</script>
{% endif %}

{% endblock %}
