<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

{% if not user.is_authenticated %}

  <h3>Please login or register</h3>

  <form name="login" action="{{ url_for('.login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
      <tr>
        <td class="caption" style="width:100px" tabindex="1">Kerberos ID:</td>
        <td class="value"><input class="value" name="kerb" style="width:120px; margin-right:6px;" oninput="$('.save').prop('disabled',this.value.trim()==='');" /></td>
        <td><button class="save" name="submit" type="submit" value="login" disabled>Login</button></td>
        <td><button class="save" name="submit" type="submit" value="register" disabled>Register</button></td>
      </tr>
    </table>
  </form>

{% else %}

  {#
  <form action="{{ url_for('.logout') }}" method="POST" name="logout">
  <h2>You are logged in as {{ user.preferred_name }}<div style="float: right; margin-right: 10px"><button name="logout" type="submit" tabindex="-1">Logout</button></div></h2>
  </form>
  #}
  <form action="{{ url_for('.save_student') }}" method="post" name="student" id="student" onsubmit="return submitStudentForm(this.submitted);">

  <h3>Personal profile</h3>

  <table class="input">
    <tr>
      <td class="caption">Preferred name</td>
      <td class="value"><input class="value" spellcheck="false" name="preferred_name" id="preferred_name" value="{{user.preferred_name}}" tabindex="1" placeholder="this is required" required maxlength="{{maxlength['preferred_name']}}" 
       oninput="$('#preferred_name_info').html(this.value?'required':'<b style=&quot;color:var(--alert-color);&quot;>required</b>');"/></td>
      <td class="forminfo">required</td>
    </tr>
    <tr>
      <td class="caption">Preferred pronouns</td>
      <td class="value"><input class="value" spellcheck="false" name="preferred_pronouns" value="{{user.preferred_pronouns}}" tabindex="2" placeholder="e.g. he/him, she/her, they/them" maxlength="{{maxlength['preferred_pronouns']}}" /></td>
    <td class="forminfo">optional</td>
    </tr>
    <tr>
      <td class="caption">Homepage</td>
      <td class="value"><input class="value" spellcheck="false" name="homepage" id="homepage" value="{{user.homepage}}" tabindex="3" placeholder="e.g. https://www.mit.edu/~johndoe/" maxlength="{{maxlength['homepage']}}"
        oninput="$('#homepage_info').html(validURL(this.value)?'optional':'<b style=&quot;color:var(--alert-color);&quot;>invalid URL</b>');" /></td>
      <td class="forminfo" id="homepage_info">optional</td>
    </tr>
    <tr>
      <td class="caption">Department(s)</td>
      <td class="value">
        <span class="select" id="select-departments" tabindex="4"></span>
        <input type="hidden" name="departments" id="departments" value="{{user.departments}}" />
      </td>
      <td class="forminfo" id="departments_info">optional</td>
    </tr>
    <tr>
      <td class="caption">Current year</td>
      <td class="value">
        <span class="select" id="select-year" tabindex="5"></span>
        <input type="hidden" name="year" id="year" value="{{user.year|blanknone}}"/>
      </td>
    <td class="forminfo">optional</td>
    </tr>
    <tr>
      <td class="caption">Gender identity</td>
      <td class="value">
        <span class="select" id="select-gender" tabindex="6"></span>
        <input type="hidden" name="gender" id="gender" value="{{user.gender|blanknone}}"/>
      </td>
    <td class="forminfo">optional</td>
    </tr>
    {#
    <tr>
      <td class="caption" style="vertical-align:top; padding-top:7px;">About me</td>
      <td><textarea class="value" name="description" tabindex="7"  placeholder="A fun fact or something you would like your pset partners to know about you." rows="4" maxlength="{{maxlength['description']}}">{{user.description}}</textarea></td>
    </tr>
    #}
  </table>

  <h3>Profile for the {{current_upcoming()}} term ({{current_term_pretty()}})</h3>
  <table class="input" style="margin-bottom:0px;">
    <tr>
      <td class="caption">Location</td>
      <td class="value">
        <span class="select" id="select-location" tabindex="8"></span>
        <input type="hidden" name="location" id="location" value="{{user.location}}"/>
      </td>
      <td class="forminfo">required</td>
    </tr>
    <tr>
      <td class="caption">Time zone</td>
      <td class="value">
        <span class="select" id="select-timezone" tabindex="9"></span>
        <input type="hidden" name="timezone" id="timezone" value="{{user.timezone}}" onchange="showTimezoneOffset()"/>
      </td>
      <td class="forminfo">required</td>
    </tr>
    <tr>
      <td class="caption">Classes</td>
      <td class="value">
        <span class="select" id="select-classes" tabindex="10"></span>
        <input type="hidden" name="classes" id="classes" value="{{user.classes}}" onchange="changeClasses(this.value)"/>
      </td>
      <td class="forminfo">optional</td>
    </tr>
    <tr><td class="caption" colspan="3" style="padding-top:10px;"><label id="tzcaption">Times available for collaboration (in your time zone)</label></td></tr>
  </table>
  <br>
  <table class="cbg" id="hours" style="margin-left:60px; margin-top:-10px; margin-bottom:-5px;">
    <tr class="cbg">
      {% for i in range(24) %}
        <td class="cbg cbgt">{{i}}</td>
      {% endfor %}
      <td></td>
    </tr>
    {% for i in range(7) %}
    <tr class="checkboxgrid">
      {% for j in range(24) %}
      <td class="cbg"><label class="cbg">
          <input class="cbg" name="hours-{{i}}-{{j}}" id="cb-hours-{{i}}-{{j}}" type="checkbox" {% if user.hours[i][j] %}checked{% endif %} />
          <span id="hours-{{i}}-{{j}}" class="cbg"></span>
      </label></td>
      {% endfor %}
      <td class="cbg cbgr">{{options.weekday[i]}}</td>
    </tr>
    {% endfor %}
  </table>
  <h3 id="prefheader">Preferences</h3>

   <div class="pref-toggler" id="pref-toggler">
    <header class="inner">
      <div class="pref-toggler-inner">
        {% for i in  range(maxlength["classes"]+1) %}
        <div class="toggler-nav {% if not i %}toggle-active{% endif %}" id="pref-{{i}}" tabindex="{{'-1' if i else '11'}}" {% if i > user.classes|length %} style="display:none;"{% endif%}>
          {{"General" if i == 0 else (user.classes[i-1] if i and i <= user.classes|length else "")}}
        </div>
        {% endfor %}
      </div>
    </header>
  </div>

{% set tabindex = 12 %}
{% set smax = options["strength"]|length -1 %}

{% macro PREF(caption,pref,start) -%}
{% set start = start|default(0) %}
{% set n = user.classes|length + 1 %}
{% for i in range(start,maxlength["classes"]+1) %}
  {% set pval = user.class_data[user.classes[i-1]].preferences[pref] if i and i < n else user.preferences[pref] %}
  {% set sval = 3 if not pval else (user.class_data[user.classes[i-1]].strengths[pref] if i and i < n else user.strengths[pref]) %}
    <tr class="pref-{{i}} pref-{{pref}}" style="display:none;">
    <td class="caption"><label class="{{pref}}">{{caption}}</label></td>
  <td class="value pref-{{i}} pref-{{pref}}" style="display:none;">
    <span class="select" id="select-pref-{{pref}}-{{i}}" tabindex="{{tabindex}}"></span>
    <input class="pref-{{i}}" type="hidden" name="pref-{{pref}}-{{i}}" id="pref-{{pref}}-{{i}}" value="{{pval|blanknone}}" onchange="showPS(this.name,this.value)"/>
  </td>
  <td class="pref-{{i}} pref-{{pref}}" style="padding-left:10px; display:none;">
    <input class="slider pref-{{i}}" name="spref-{{pref}}-{{i}}" id="spref-{{pref}}-{{i}}" tabindex="{{tabindex+1}}" type="range" min="1" max="5" value="{{sval}}" oninput="showPSL(this.name,this.value)"{% if not pval %} style="display:none;"{% endif %} />
    <label class="strength" id="lspref-{{pref}}-{{i}}">{{options.strength[sval if pval else 0]}}</label>
  {%if start != 0 %}
    </tr>
  {% endif %}
{% endfor %}
{%if start == 0 %}
    </td>
  </tr>
{% endif %}
  {% set tabindex = tabindex + 2 %}
{%- endmacro %}

{% macro CPROP(caption,prop) -%}
{% set n = user.classes|length + 1 %}
  {% for i in range(1,maxlength["classes"]+1) %}
    {% set pval = user.class_data[user.classes[i-1]].properties[prop] if i < n else "" %}
    <tr class="pref-{{i}}" style="display:none;">
      <td class="caption"><label>{{caption}}</label></td>
      <td class="value">
        <span class="select" id="select-{{prop}}-{{i}}" tabindex="{{tabindex}}"></span>
        <input class="prop-{{i}}" type="hidden" name="{{prop}}-{{i}}" id="{{prop}}-{{i}}" value="{{pval|blanknone}}"/>
      </td>
      <td class="forminfo">optional</td>
    </tr>
  {% endfor %}
  {% set tabindex = tabindex + 1 %}
{%- endmacro %}

  <table class="input">

    {{PREF("When you like to start working", "start")}}
    {{PREF("How you like to collaborate", "together")}}
    {{PREF("How you like to communicate", "forum")}}
    {{PREF("Your ideal group size", "size")}}
    {{CPROP("Commitment to this course", "commitment")}}
    {{CPROP("Knowledge of the material", "confidence")}}

    <tr style="display:none; height:5px;" id="affinity-separator"><td colspan="3"></td></tr>

    {{PREF("", "departments_affinity")}}
    {{PREF("", "year_affinity")}}
    {{PREF("", "gender_affinity")}}
    {{PREF("", "commitment_affinity", 1)}}
    {{PREF("", "confidence_affinity", 1)}}
 
  </table>

  <table class="submit">
    <tr>
      <td><button type="submit" name="submit" id="save" value="save" tabindex="-1" onclick="this.form.submitted=this.value;" disabled>Save</button></td>
      <td><button type="submit" name="submit" id="cancel" value="cancel" tabindex="-1" onclick="this.form.submitted=this.value;" disabled>Reset</button></td>
      <td><label class="alertinfo" id="submit_alert"></label></td>
    </tr>
  </table>
  </form>

<!-- jshint ignore:end -->
<script>

// jshint ignore:start
const classesOptions = [
{% for val, option in options.classes %}
  { value: '{{val}}', label: '{{val}} {{option}}' },
{% endfor %}
];

const timezoneOptions = [
{% for val, option in options.timezones %}
  { value: '{{val}}', label: '{{option}}' },
{% endfor %}
];

const maxlength = {{ maxlength|tojson|safe }};
// jshint ignore:end

/* global classesOptions, maxlength */ // from template (ignored above)
/* global studentOptions, studentPlaceholders, studentPreferences, studentClassPreferences, studentAffinities, studentClassAffinities */ // options.js
/* global makeSingleSelect, updateSingleSelect, makeMultiSelect, validURL, makeCheckboxGrid */ // in psetpartners.js

function classLabel(v) { return classesOptions.find(x => x.value == v).label; }

const strengthOptions = [{% for s in options["strength"] %} "{{s}}", {% endfor %}]; // jshint ignore: line

/* userClasses acts as an associative array indexed by class_number into user.class_data */
let studentClasses = [ {% for class_number in user.classes %} "{{class_number}}", {% endfor %} ];  // jshint ignore: line

function showTimezoneOffset() {
  const tz = document.getElementById('timezone').value;
  const tzopt = timezoneOptions.find(x => x.value==tz);
  const caption = ( tzopt && tzopt.label.includes(')') ) ?
    "Times available for collaboration (in your time zone, which is currently " + tzopt.label.split(')')[0].substr(1) +')' :
    "Times available for collaboration (MIT time)";
  $('#tzcaption').text(caption);
}

function showPS(id, val) {
  const e = document.getElementById('s'+id);
  e.style.display = val ? 'inline-block' : 'none';
  showPSL('s'+id, val ? (e.value?e.value:3) : 0);
}

function showPSL(id, val) {
  document.getElementById('l'+id).innerHTML = strengthOptions[val];
}

function changeClasses(val) {
  let v = typeof(val) == "string" ? val.split(',') : val;
  v = v.map(x => x.trim()).filter(x => x !== '');
  let classesPrefs = {}, classesProps = {};

  let allPreferences = [...studentPreferences, ...studentClassPreferences];
  for ( let i = 0 ; i < studentClasses.length ; i++ ) {
    const c = studentClasses[i];
    if ( v.includes(c) ) {
      let classPrefs = {};
      for ( const pref of allPreferences ) {
        const id = 'pref-' + pref + '-' + (i+1);
        classPrefs[pref] = { value: document.getElementById(id).value, strength: document.getElementById('s'+id).value };
      }
      classesPrefs[c] = classPrefs;
      let classProps = {};
      for ( const prop of studentClassAffinities ) {
        const id = prop + '-' + (i+1);
        classProps[prop] = { value: document.getElementById(id).value };
      }
      classesProps[c] = classProps;
    }
  }
  let generalPrefs = {};
  for ( const pref of studentPreferences ) {
    const id = 'pref-' + pref + '-0';
    generalPrefs[pref] = { value: document.getElementById(id).value, strength: document.getElementById('s'+id).value };
  }
  for ( const pref of studentClassPreferences ) generalPrefs[pref] = { value: '', strength: 3 };
  for ( const c of v ) if ( ! classesPrefs[c] ) classesPrefs[c] = generalPrefs;
  let defaultProps = {};
  for ( const prop of studentClassAffinities ) defaultProps[prop] = '';
  for ( const c of v ) if ( ! classesProps[c] ) classesProps[c] = defaultProps;
  for ( let i = 0 ; i < v.length ; i++ ) {
    const c = v[i];
    if ( c != studentClasses[i] ) {
      for ( const pref of allPreferences ) {
        const id = 'pref-' + pref + '-' + (i+1);
        const e = document.getElementById(id);
        const s = jQuery(e).data('select');
        e.value = classesPrefs[c][pref].value;
        if ( ! s ) makeSingleSelect(id, studentOptions[pref], { placeholder: studentPlaceholders[pref] }); else updateSingleSelect(id);
        document.getElementById('s'+id).value = classesPrefs[c][pref].strength;
        showPS(id, e.value);
      }
      for ( const prop of studentClassAffinities ) {
        const id = prop + '-' + (i+1);
        const e = document.getElementById(id);
        const s = jQuery(e).data('select');
        e.value = classesProps[c][prop].value;
        if ( ! s ) makeSingleSelect(id, studentOptions[prop], { placeholder: studentPlaceholders[prop] }); else updateSingleSelect(id);
      }
      const q = $('#pref-'+(i+1)); q.html(c); q.show();
    }
  }
  for ( let i = v.length ; i < studentClasses.length ; i++ ) { const q = $('#pref-'+(i+1)); q.html(''); q.hide(); }
  studentClasses = [...v];
  togglePrefs('pref-'+v.length);
}

function indexToggler() {
  const id = $('.toggler-nav.toggler-active').attr('id');
  return id ? parseInt(id.split('-')[1]) : null;
}

function togglePrefs(id,focus=false) {
  const oldid = $('.toggler-nav.toggler-active').attr('id');
  const i = parseInt(id.split('-')[1]);
  $('#prefheader').text('Preferences' + (i ? ' for ' + classLabel(studentClasses[i-1]) : ''));
  $('tr.' + oldid).hide();  $('tr.'+id).show();
  $('td.' + oldid).hide();  $('td.'+id).show();
  $('#'+oldid).toggleClass('toggler-active');
  const e = $('#'+id);
  e.toggleClass('toggler-active');
  showAffinityPreferences();
  if ( focus ) e.focus();
}

function saveErrorMessage() {
  if ( document.getElementById('preferred_name').value.trim() === '' )
    return 'Please enter your preferred name.';
  if ( $('#hours input:checkbox:checked').length < 6 )
    return 'Please select at least 6 hours when you are available to collaborate.';
  if ( ! validURL(document.getElementById('homepage').value) )
    return 'Please correct or delete the invalid URL listed for your homepage.';
  return '';
}

function showSaveErrorMessage() {
  const msg = saveErrorMessage();
  if ( msg ) $('#save').prop('disabled',true);
  document.getElementById('submit_alert').innerText = msg;
}

function showAffinityPreferences() {
  let caption = false;
  const i = indexToggler();
  const affinities = i ? [...studentAffinities, ...studentClassAffinities] : studentAffinities;
  for ( let x of affinities ) {
    const val = document.getElementById(x + (studentClassAffinities.includes(x) ? '-' + i : '')).value;
    const a = x + '_affinity', qv = '.pref-' + a + '.pref-' + i, qc = 'label.' + a;
    $(qc).text(""); 
    if ( val === '' || val === '[]' ) {
      $(qv).hide();
    } else {
      $(qv).show(); if ( ! caption ) { $(qc).text("Your ideal group would include"); caption = true; }
    }
  }
  document.getElementById('affinity-separator').style.display = caption ? 'inline-block' : 'none';
}

function checkChanges (e) {
  if ( ! e.target.name ) return;
  console.log (e.target.name + ' changed to ' + (e.target.type === 'checkbox' ? e.target.checked : e.target.value));
  const change = $('#student').serialize() != $('#student').data('initial');
  $('#student :submit').prop('disabled',!change);
  showSaveErrorMessage();
  if ( studentAffinities.find(x => x === e.target.name) || studentClassAffinities.find(x => x === e.target.name.split('-')[0]) ) showAffinityPreferences();
}

function submitStudentForm (value) {
  if ( value === "cancel" ) { $('input').attr('name',''); return true; }
  console.log("Submitting form");
  for ( let i = studentClasses.length+1 ; i <= maxlength.classes ; i++ ) $('input.pref-'+i+', .prop-'+i).attr('name','');
  console.log(document.getElementById('commitment-1').value);
  return true;
}

function alertInfo(q,msg) {
  const content = $(q).html();
  $(q).html('<b style="color:var(--alert-color);">' + msg + '</b>'); $(q).fadeOut(2000, function() { $(q).html(content).show() });
}

document.addEventListener('DOMContentLoaded', function() {
  function classesLimit (n) { alertInfo('#classes_info', 'At most ' + maxlength.classes + ' classes permitted!'); }
  function departmentsLimit (n) { alertInfo('#departments_info', 'At most ' + maxlength.departments + ' departments permitted!'); }

  makeMultiSelect('departments',
    studentOptions.departments,
    { placeholder: studentPlaceholders.departments, limit: maxlength.departments, onLimit: departmentsLimit}
  );
  makeMultiSelect('classes',
    classesOptions,
    { placeholder: studentPlaceholders.classes, shortTags: true, limit: maxlength.classes, onLimit: classesLimit }
  );
  let tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
  if ( tz == "America/New_York" || tz == "US/Eastern" ) tz = "MIT";
  $('#timezone').val(tz);
  if ( tz != "MIT" && ! $('#location').val() ) $('#location').val('far');
  makeSingleSelect('location', studentOptions.location, {});
  makeSingleSelect('timezone', timezoneOptions, {});
  makeSingleSelect('year', studentOptions.year, { placeholder: studentPlaceholders.year });
  makeSingleSelect('gender', studentOptions.gender, { placeholder: studentPlaceholders.gender });
  for (const pref of studentPreferences) {
    for ( let i = 0 ; i <= studentClasses.length ; i++ )
      makeSingleSelect('pref-' + pref + '-' + i, studentOptions[pref], { placeholder: studentPlaceholders[pref] });
  }
  for (const pref of studentClassPreferences) {
    for ( let i = 1 ; i <= studentClasses.length ; i++ )
      makeSingleSelect('pref-' + pref + '-' + i, studentOptions[pref], { placeholder: studentPlaceholders[pref] });
  }
  for (const prop of studentClassAffinities) {
    for ( let i = 1 ; i <= studentClasses.length ; i++ )
      makeSingleSelect(prop + '-' + i, studentOptions[prop], { placeholder: studentPlaceholders[prop] });
  }
  makeCheckboxGrid();
  showTimezoneOffset();
  showSaveErrorMessage();

  $('input:text').attr('autocomplete','off');

  $('.toggler-nav').click(function(e) { e.preventDefault(); togglePrefs(e.target.id); return false; });
  togglePrefs('pref-0');

  $('input[name="classes"]').data('initial',$('input[name="classes"]').val());
  $('#student').data('initial',$('#student').serialize());
  $('#student :input').change(checkChanges);
  $('#student :text').keyup(checkChanges);  /* this is overkill but the only way to catch all changes in real time */

  $('.toggler-nav').keydown(function(e){
    if ( e.which === 37 || e.which === 39 ) {
      const n = studentClasses.length+1;
      const id =  $('.toggler-nav.toggler-active').attr('id');
      togglePrefs('pref-' + ((parseInt(id.split('-')[1]) + e.which - 38 + n) % n), true);
    }
  });
  $('.toggler-nav').focusin(function(e){ if ( ! e.target.classList.contains('toggler-active') ) { $('.toggler-nav.toggler-active').focus(); }});
  togglePrefs('pref-0');
  showAffinityPreferences();
  console.log('student page ready');
  console.log(Intl.DateTimeFormat().resolvedOptions().timeZone)
});
</script>

{% endif %}

{% endblock %}
