:root {
  --mit-maroon: #a31f34;
  --mit-light-gray: #dce0df;
  --mit-gray: #babbbc;
  --mit-white: #fefefe;
  --shadow-color: var(--mit-maroon);
  --alert-color: #e32f54;
  --button-fill: #a31f34;
  --select-fill: #f9e9e5;
  --slider-fill: var(--mit-maroon);
  --input-border-color: var(--mit-maroon);
  --input-border-width: 1.5px;
  --input-focus-border-color: var(--mit-maroon);
  --input-focus-border-width: 2px;
  font-family: Verdona, Geneva, sans-serif;
}

/* Disable selction except for text input */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
::selection {
    background: var(--select-fill);
}
::-moz-selection {
    background: var(--select-fill);
}

#header {
  background: var(--mit-maroon);
  box-shadow: 0px 3px 3px var(--shadow-color);
  margin-top: -4px;
  margin-left: -6px;
  margin-right: -6px;
  min-width: 1024px;
}
header.inner {
  margin: -6px auto;
  max-width: 1024px;
}

#header #logo {
  display: inline-block;
  margin: 0px;
  padding-top: 20px;
}
#header #logo img {
  max-height: 70px;
}
#header .right {
  margin-top: 0px;
  display: inline-block;
  padding-left: 48px;
  vertical-align: top;
  width: calc(100% - 350px);
  height: 75px;
  position: relative;
}
#header #title {
  font-size: 180%;
  padding-top: 20px;
  color: #FFFFFF;
  min-height: 32px;
  min-width: 300px;
  text-align: center;
}

#footer {
  clear: both;
  margin-top: 48px;
  margin-left: -6px;
  margin-right: -6px;
  background-color: var(--mit-maroon);
  border-top: 2px solid var(--shadow-color);
  padding: 25px 10px;
  text-align: center;
  font-size: 80%;
  color: #F0F0F0;
  min-height: 15px;
  box-shadow: 0px 3px 3px var(--shadow-color);
}

#footer a {
  color: #E0E0E0;
}

#flashes p {
  border-left: 15px solid #FFF59D;
  padding: 5px;
  background: #FFFDE7;
}

#flashes p.error {
  margin: 15px 0;
  border: 0;
  border-left: 15px solid #FDD;
  background: #FEE;
  color: red;
}

#flashes p.warning {
  margin: 15px 0;
  font-size: 90%;
  border: 0;
  border-left: 15px solid #FDD;
  background: #FEE;
  color: #000;
}

#main {
  margin:  0px auto;
  padding: 0px 0px 0px 10px;
  min-height: 700px;
  max-width: 1000px;
}

#content {
  margin-top: 20px;
  min-height: calc(100vh - 217px);
}

#content h1 {
  font-size: 150%;
}

#content h2 {
  font-size: 130%;
  margin-bottom: 20px;
}

#content h3 {
  font-size: 110%;
  margin-bottom: 10px;
}

#content h2 span.comment, h3 span.comment {
  font-weight: normal;
  font-size: 80%;
}

#content a, a:visited {
  color: var(--mit-maroon);
  font-family: sans-serif;
  text-decoration: none
}


#content table.input table.output {
  border-collapse: collapse;
  margin-left: 20px;
  min-width: 600px;
  /* border-spacing: 0px; only relevant if border-collapse is separate */
}

#content table.submit {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 0px;
}

#content td.caption {
  width: 250px;
  white-space: nowrap;
  margin-right:0px;
  vertical-align:middle;
}

#content input.value, select.value, textarea.value {
  border: var(--input-border-width) solid var(--input-border-color);
  padding: 3px 6px;
  font-family: Verdona, Geneva, sans-serif;
  font-size: 100%;
  border-radius: 4px;
  width: 350px;
  height: 20px;
  box-sizing:content-box;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
}

#content input.value:focus, select.value:focus, textarea.value:focus {
  outline: none !important
  border: var(--input-focus-border-width) solid var(--input-focus-border-color);
  box-shadow: 0 0 5px var(--shadow-color);
}

#content input.value {
  padding-left: 4px;
  padding-right: 0px;
}

#content select.value {
  cursor: pointer;
  padding-left: 1px;
  padding-right: 3px;
}

#content textarea.value {
  padding-left: 4px;
  padding-right: 0px;
  height: 80px;
}

#content output.value {
  font-size: 75%;
  vertical-align: text-top;
  color: var(--mit-maroon);
}

button {
  background: var(--mit-light-gray);
  border: var(--input-border-width) solid var(--input-border-color);
  color: var(--mit-maroon);
  font-weight: bold;
  font-size: 14px;
  min-width: 60px;
  margin: 0px 10px 0px 0px;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  height: 26px;
}

button:disabled {
  color: white;
}

select, select option {
  background: var(--select-fill);
  border: var(--input-border-width) solid var(--input-border-color);
  font-size: 100%;
}

.alertinfo {
   padding-left: 10px;
   font-size: 75%;
   font-weight: bold;
   font-style: italic;
   color: var(--alert-color);
   vertical-align: middle;
}

/* BEGIN styling to get a reasonable looking cross-platform slider */
input[type="range"] {
    -webkit-appearance: none;
    overflow: hidden;
    height: 8px;
    width: 100px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 0px;
    border: var(--input-border-width) solid var(--input-border-color);
}

::-webkit-slider-runnable-track {
    background: #fff;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 8px;
    background: var(--select-fill);
    box-shadow: -100vw 0 0 100vw var(--slider-fill);
    border: var(--input-border-width) solid var(--input-border-color);
}

::-moz-range-track {
    height: 10px;
    background: #fff;
}

::-moz-range-thumb {
    background: #fff;
    height: 10px;
    width: 10px;
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw var(--slider-fill);
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: : var(--input-border-width) solid var(--input-border-color);
    height: 10px;
    width: 10px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #fff;
    color: transparent;
    height: 10px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}
/* END styling to get a reasonable looking cross-platform slider */

/* BEGIN styling to stop chrome autofill from changing the background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/* END styling to stop chrome autofill from changing the background color */


/* BEGIN styling for checkboxgrid selector (intended to be used in grid of checkboxes) */
/* Note that you must call setup_checkboxgrid in psetpartners.js to use this */

label.checkboxgrid {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1px;
  margin: 0;
  height: 10px;
  width: 24px;
  cursor: pointer;
}
/* Hide the default checkbox */
input.checkboxgrid[type=checkbox] {
  visibility: hidden;
}
/* creating a custom checkbox based on demand */
span.checkboxgrid {
  position: absolute;
  top: 1px;
  left: 0;
  padding: 0px;
  margin: 0px 0px;
  height: 10px;
  width: 24px;
  border-radius: 3px;
  background-color: #ccc;
}
input.checkboxgrid {
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0px 0px;
  height: 10px;
  width: 20px;
}
/* specify the background color to be shown when hovering over checkbox */
label.checkboxgrid:hover input ~ span.checkboxgrid {
  background-color: var(--select-fill);
}

/* specify the background color to be shown when checkbox is checked */
label.checkboxgrid input:checked ~ span.checkboxgrid {
  background-color: var(--mit-maroon);
}
/* END styling for checkboxgrid selector (intended to be used in grid of checkboxes) */

.debug {
  background: #FF9;
  font-style: italic;
}
