:root {
  --header-height: 52px;
  --footer-height: 52px;
  --min-width: 940px;
  --caption-width: 270px;
  --value-width: 390px;
  --mit-maroon: #a31f34;
  --mit-pink: #fdf5f3;
  --mit-gray: #babbbc;
  --mit-white: #fefefe;
  --shadow-color: var(--mit-maroon);
  --shadow-width: 3px;
  --light-gray: #c6c7c8;
  --lighter-gray: #eaebec;
  --alert-color: #e32f54;
  --info-color: black;
  --select-fill: var(--mit-pink);
  --button-fill: #a31f34;
  --slider-fill: var(--mit-maroon);
  --input-border-color: var(--mit-maroon);
  --input-border-width: 1.5px;
  --knowl_background: #f9f5f1;
  font-family: Verdona, Geneva, sans-serif;
}

/* Disable selection except for text input */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
::selection {
    background: var(--select-fill);
}
::-moz-selection {
    background: var(--select-fill);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#javascript-explanation {
  padding: 20px;
  text-align: center;
}

.header, .footer {
  margin: 0 auto:
  width: 100%;
  background: var(--mit-maroon);
  color: var(--mit-white);
  text-align: center;
}

.header {
  height: calc(var(--header-height) - 8px);
  padding-top: 8px;
  padding-left: calc(0.2*(100vw - var(--min-width)));
  padding-right: calc(0.2*(100vw - var(--min-width)));
  box-shadow: 0 var(--shadow-width) var(--shadow-width) var(--shadow-color);
}

.footer {
  clear: both;
  height: var(--footer-height);
  line-height: var(--footer-height);
  font-size: 90%;
  box-shadow: 0 calc(0px - var(--shadow-width)) var(--shadow-width) var(--shadow-color);
}

.main-page {
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100% - var(--header-height));
  max-width: var(--min-width);
  margin-bottom: calc(0px - var(--footer-height));
}

.main-page:after {
  content: "";
  display: block;
  height: var(--footer-height);
}

#logo {
  padding-top:4px;
  float: left;
}

#userinfo {
  float: right;
  font-size: 90%;
}

#title {
  margin: 0 auto;
  padding-top: 4px;
  font-size: 160%;
  text-align: center;
}

#title a, #userinfo a {
  color: var(--mit-white);
  text-decoration: none;
  cursor: pointer;
}

div.footer > a {
  color: var(--mit-white);
  text-decoration: none;
  cursor: pointer;
}

#userinfo {
  float: right;
  color: var(--mit-white);
  font-size: 16px;
  font-weight: bold;
}

#logout {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}


#flashes p {
  border-left: 15px solid #FFF59D;
  font-size: 90%;
  padding: 5px;
  background: #FFFDE7;
}

#flashes p.warning {
  margin: 15px 0;
  border: 0;
  border-left: 15px solid #FDD;
  color: #000;
}

#flashes p.error {
  margin: 15px 0;
  border: 0;
  border-left: 15px solid #FDD;
  color: red;
}

#content {
  padding: 10px;
}

h1 {
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1:first-of-type {
  margin-top: 10px;
}

h2 {
  font-size: 130%;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2:first-of-type {
  margin-top: 10px;
}

h3 {
  font-size: 110%;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3:first-of-type {
  margin-top: 10px;
}

a, a:visited {
  color: var(--mit-maroon);
  font-family: sans-serif;
  text-decoration: none;
  cursor: pointer;
}

table.input, table.output {
  border-collapse: collapse;
  margin-left: 20px;
}

table.submit {
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 0;
}

td.caption {
  width: var(--caption-width);
  white-space: nowrap;
  margin-right: 0;
  vertical-align:middle;
}

td.forminfo, span.forminfo {
   padding-left: 13px;
   font-size: 80%;
   font-weight: normal;
   font-style: italic;
   color: #333;
   vertical-align: middle;
}

span.forminfo {
   padding-left: 2px;
}

span.forminfo::before {
  content: "(";
  font-style: normal;
}

span.forminfo::after {
  content: ")";
  font-style: normal;
}

input, select, textarea {
  border: var(--input-border-width) solid var(--input-border-color);
  background: var(--mit-white);
  padding-top: 3px;
  padding-bottom: 1px;
  font-family: Verdona, Geneva, sans-serif;
  font-size: 100%;
  border-radius: 4px;
  box-sizing:content-box;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
}

input.value, select.value, textarea.value {
  width: var(--value-width);
  height: 25px;
}

input.value:focus, select.value:focus, textarea.value:focus {
  outline: 1px solid var(--mit-maroon);
}

span.select {
  outline: none;
}

input.value {
  padding-left: 4px;
  padding-right: 0;
}

input.value::placeholder {
  font-size: 90%;
  font-style:italic;
}

select.value option {
  background: var(--lighter-gray);
  font-size: 95%;
}

select.value {
  cursor: pointer;
  padding-left: 1px;
  padding-right: 3px;
}

select.value:hover {
  cursor: pointer;
  background: var(--select-fill);
}

textarea.value {
  padding-left: 4px;
  padding-right: 0;
  height: 80px;
}

label.strength {
  font-size: 75%;
  font-style: italic;
  vertical-align: text-top;
  padding-left:4px;
}

button {
  background: var(--light-gray);
  border: var(--input-border-width) solid var(--input-border-color);
  color: var(--mit-maroon);
  font-weight: bold;
  font-size: 14px;
  margin: 0 6px;
  padding: 3px 6px;
  border-radius: 4px;
  height: 26px;
}

button:disabled {
  color: white;
}

button:hover:enabled {
  background: var(--select-fill);
  cursor: pointer;
}

button:hover:disabled {
  cursor: not-allowed;
}

button.confirm {
  background: var(--select-fill);
  color: var(--mit-maroon);
  border: var(--input-border-width) solid var(--input-border-color);
}

label.confirm {
  font-size: 90%;
}

label.confirm::before {
  font-size:120%;
  content:"✔";
  color:#469c33;
}

.alertinfo {
  padding-left: 6px;
  font-size: 75%;
  font-weight: bold;
  font-style: italic;
  color: var(--alert-color);
  vertical-align: middle;
}

.info {
  padding-left: 10px;
  font-size: 75%;
  font-style: italic;
  color: var(--info-color);
}

p.flash-info, p.flash-warning {
  margin-left: 0;
  margin-top: 8px;
  font-size: 90%;
  padding-bottom: 6px;
}
p.flash-info::before {
  font-size:120%;
  content:"✔";
  color:#469c33;
}
p.flash-warning::before {
  font-size:120%;
  content:"☡";
  color:#f5ad42;
  margin-bottom: -5px;
}
p.flash-error {
  margin-left: 0;
}
p.flash-error::before {
  font-size: 130%;
  content: "●";/*"⚠";*/
  color: #d11;
  padding-right: 3px;
}

/* BEGIN pref-toggler */
div.pref-toggler {
  margin: 0 0 18px 0;
}

div.pref-toggler-inner {
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: 1.5px solid var(--mit-maroon);
}

div.toggler-nav {
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  min-width: 50px;
  color: var(--mit-maroon);
  margin: 0 12px;
  outline: none;
}

div.toggler-active {
  font-weight: bold;
  border-bottom: 2px solid var(--mit-maroon);
}

div.toggler-active:focus {
  outline: none;
  background-color: var(--select-fill);
}

div.toggler-nav:hover {
  background: var(--select-fill);
  cursor: pointer;
}
/* END pref-toggler */

/* BEGIN styling to get a reasonable looking cross-platform slider */
input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  margin-top: 6px;
  padding-top: 0;
  padding-bottom: 0;
  height: 10px;
  width: 100px;
  cursor: pointer;
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: 1px;
}

input[type="range"]:focus {
  outline: 1px solid var(--mit-maroon);
}

::-webkit-slider-runnable-track {
  background: #fff;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 8px;
  background: var(--mit-gray);
  box-shadow: -100vw 0 0 100vw var(--slider-fill);
  border: var(--input-border-width) solid var(--input-border-color);
}

::-moz-range-track {
  height: 10px;
  background: #fff;
}

::-moz-range-thumb {
  background: #fff;
  height: 10px;
  width: 10px;
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: 0;
  box-shadow: -100vw 0 0 100vw var(--slider-fill);
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: var(--slider-fill);
}

::-ms-thumb { 
  background: #fff;
  border: : var(--input-border-width) solid var(--input-border-color);
  height: 10px;
  width: 10px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #fff;
  color: transparent;
  height: 10px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}
/* END styling to get a reasonable looking cross-platform slider */

/* BEGIN styling to stop chrome autofill from changing the background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/* END styling to stop chrome autofill from changing the background color */


/*
  BEGIN styling for cbg selector (intended to be used in grid of checkboxes).
  Note that you must call setup_cbg in psetpartners.js to use this
  Everything configurable is controlled by the variables --cbg-...
*/

:root {
  --cbg-cell-height: 13px;
  --cbg-cell-width: 30px;
  --cbg-cell-horizontal-spacing: 2px;
  --cbg-cell-vertical-spacing: 2px;
  --cbg-font-size: 12px; /* only relevant for captions, which are up to the html to include */
  --cbg-border-radius: 3px;
  --cbg-checked-color: var(--mit-maroon);
  --cbg-unchecked-color: var(--light-gray);
  --cbg-hover-checked-color: var(--select-fill);
  --cbg-hover-unchecked-color: var(--select-fill);
}

table.cbg {
 border-collapse: collapse;
}

label.cbg {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  height: var(--cbg-cell-height);
  width: var(--cbg-cell-width);
  cursor: pointer;
}
/* Hide the default checkbox */
input.cbg[type=checkbox] {
  display: none;
}

tr.cbg {
  padding: 0;
  height: var(--cbg-cell-height);
  line-height: var(--cbg-cell-height);
}

td.cbg {
  padding-bottom: var(--cbg-cell-vertical-spacing);
  padding-left: var(--cbg-cell-horizontal-spacing);
  padding-top: 0;
  padding-right: 0;
  font-size: var(--cbg-font-size);
}

td.cbg.cbgt {
  vertical-align:bottom;
  padding-left:3px;
  padding-bottom:0px;
}

td.cbg.cbgr {
  vertical-align:center;
}

span.cbg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: var(--cbg-cell-height);
  width: var(--cbg-cell-width);
  border-radius: var(--cbg-border-radius);
  background-color: var(--cbg-unchecked-color);
  cursor: pointer;
}

span.cbg::after {
  content: "";
}

label.cbg input:hover ~ span.cbg {
  background-color: var(--cbg-hover-unchecked-color);
}

label.cbg input:checked ~ span.cbg {
  background-color: var(--cbg-checked-color);
}

label.cbg input:checked ~ span.cbg:hover {
  background-color: var(--cbg-hover-checked-color);
}
/* END styling for cbg selector (intended to be used in grid of checkboxes) */

.debug {
  background: #FF9;
  font-style: italic;
}
