:root {
  --header-height: 52px;
  --footer-height: 52px;
  --min-width: 1024px;
  --caption-width: 270px;
  --value-width: 420px;
  --short-value-width:92px;
  --veryshort-value-width: 76px;
  --mit-maroon: #a31f34;
  --mit-maroon-light: #ba264c;
  --mit-pink: #fdf5f3;
  --mit-light-pink: #fffaf8;
  --mit-gray: #babbbc;
  --mit-white: #fefefe;
  --shadow-color: var(--mit-maroon);
  --shadow-width: 3px;
  --light-gray: #c6c7c8;
  --lighter-gray: #eaebec;
  --lightest-gray: #f1f2f3;
  --alert-color: #e32f54;
  --warn-color: black;
  --info-color: black;
  --select-fill: var(--mit-pink);
  --button-fill: #a31f34;
  --slider-fill: var(--mit-maroon);
  --input-border-color: var(--mit-maroon);
  --input-border-width: 1.25px;
  font-family: Verdona, Geneva, sans-serif;
}


/* Disable selection except for text input */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
::selection {
  background: var(--select-fill);
}
::-moz-selection {
  background: var(--select-fill);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

a, a:visited, a.link, a.link:visited, label.link {
  outline: none;
  color: var(--mit-maroon);
  font-family: sans-serif;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a.link:hover, label.link:hover {
  background-color: var(--mit-pink);
  cursor: pointer;
}

a:focus, a.link:focus {
  border-bottom: 1.5px solid currentColor;
}

#javascript-explanation {
  padding: 20px;
  text-align: center;
}

.header, .footer {
  background: var(--mit-maroon);
  color: var(--mit-white);
  text-align: center;
}

.header a:hover, .footer a:hover {
  background-color: var(--mit-maroon-light);
}

#logo a:hover {
  background-color: var(--mit-maroon);
}

.header {
  height: calc(var(--header-height) - 8px);
  padding-top: 8px;
  padding-left: max(10px,calc(0.2*(100vw - var(--min-width))));
  padding-right: max(10px,calc(0.2*(100vw - var(--min-width))));
  box-shadow: 0 var(--shadow-width) var(--shadow-width) var(--shadow-color);
}

.footer {
  width: 100%;
  clear: both;
  height: var(--footer-height);
  line-height: var(--footer-height);
  font-size: 90%;
  box-shadow: 0 calc(0px - var(--shadow-width)) var(--shadow-width) var(--shadow-color);
}

.main-page {
  padding-left:10px;
  padding-right:10px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100% - var(--header-height) - 0.1px);
  max-width: var(--min-width);
  margin-bottom: calc(0px - var(--footer-height));
}

.main-page:after {
  font-size:1px;
  content: "";
  display: block;
  height: var(--footer-height);
}

#logo {
  padding-top:4px;
  float: left;
}

#userinfo {
  float: right;
  font-size: 90%;
}

#title {
  margin: 0 auto;
  padding-top: 4px;
  font-size: 160%;
  text-align: center;
}
@-moz-document url-prefix(){
#title {
  font-size: 140%;
}
}

#title a, #userinfo a {
  color: var(--mit-white);
}

div.footer > a {
  color: var(--mit-white);
}

#userinfo {
  float: right;
  color: var(--mit-white);
  font-size: 100%;
  font-weight: bold;
}
@-moz-document url-prefix(){
#userinfo {
  font-size: 85%;
}
}
#logout {
  cursor: pointer;
  font-size: 90%;
  font-weight: bold;
}


#flashes p {
  border-left: 15px solid #FFF59D;
  font-size: 90%;
  padding: 5px;
  background: #FFFDE7;
}

#flashes p.warning {
  margin: 15px 0;
  border: 0;
  border-left: 15px solid #FDD;
  color: #000;
}

#flashes p.error {
  margin: 15px 0;
  border: 0;
  border-left: 15px solid #FDD;
  color: red;
}

#content {
  padding: var(--shadow-width);
}

label.highlight {
  font-weight: bold;
}

label.clickable {
  color: var(--mit-maroon);
  cursor: pointer;
}
label.clickable:hover {
  background-color: var(--mit-pink);
}

th.sortable {
  color: var(--mit-maroon);
  cursor: pointer;
}

th.sortable:hover {
  background-color: var(--mit-pink);
}

th.sortable::after {
  content: ""; //content: "◆";
  font-size: 90%;
  padding-left: 16px;
  vertical-align: 5%;
}

th.sortable.asc::after {
  content: "▼";
  font-size: 90%;
  padding-left: 2px;
  vertical-align: 5%;
}

th.sortable.desc::after {
  content: "▲";
  font-size: 90%;
  padding-left: 2px;
  vertical-align: 5%;
}

h1 {
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 130%;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 110%;
  margin-top: 20px;
  margin-bottom: 10px;
}

table.input, table.output {
  border-collapse: collapse;
  margin-left: 25px;
}

table.submit {
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 0;
}

td.caption {
  width: var(--caption-width);
  white-space: nowrap;
  margin-right: 0;
  vertical-align:middle;
}

table.short-input {
  margin: 20px auto;
}

td.short-caption {
  margin: 0;
  font-size: 95%;
  padding-right: 1.5px;
  padding-left: 5.5px;
}
td.short-caption:first-of-type {
  padding-left: 0px;
}
td.short-value {
  margin: 0;
  padding-left: 0px;
  padding-right: 7.5px;
}
td.short-caption:last-of-type {
  padding-right: 0px;
}

td.forminfo, span.forminfo {
   padding-left: 13px;
   font-size: 80%;
   font-weight: normal;
   font-style: oblique;
   color: #333;
   vertical-align: middle;
}

span.formcaption {
  font-size: 90%;
  outline: none;
}
span.formcaption:focus {
  font-size: 85%;
  font-weight: bold;
}

span.forminfo {
   padding-left: 2px;
}

span.forminfo::before {
  content: "(";
  font-style: normal;
}

span.forminfo::after {
  content: ")";
  font-style: normal;
}

input, select, textarea, label.short-checkbox {
  border: var(--input-border-width) solid var(--input-border-color);
  background: var(--mit-white);
  padding-top: 3px;
  padding-bottom: 1px;
  font-family: Verdona, Geneva, sans-serif;
  font-size: 100%;
  border-radius: 4px;
  box-sizing:content-box;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
}

/* TODO: don't hardwire the width/height */
label.short-checkbox {
  text-align: center;
  padding-bottom: 2px;
  height: 18px;
  width: 20px;
  display:block;
}
label.short-checkbox:hover {
  background: var(--mit-pink);
}

input.value, select.value, textarea.value {
  width: var(--value-width);
  height: 25px;
}

input.value:focus, select.value:focus, textarea.value:focus {
  cursor: default;
  background: var(--mit-pink);
  outline: none;
}

input.value:hover, select.value:hover, textarea.value:hover {
  cursor: pointer;
  background: var(--mit-light-pink);
}

span.select {
  outline: none;
}

input.value {
  padding-left: 4px;
  padding-right: 0;
}

input.value::placeholder, textarea.value::placeholder {
  font-size: 90%;
  font-style: italic;
}

select.value option {
  background: var(--lighter-gray);
  font-size: 95%;
}

select.value {
  cursor: pointer;
  padding-left: 1px;
  padding-right: 3px;
}

textarea.value {
  padding-left: 4px;
  padding-right: 0;
  height: 52px;
}

label.strength {
  font-size: 75%;
  font-style: italic;
  vertical-align: text-top;
  padding-left:4px;
}

button {
  background: var(--light-gray);
  border: var(--input-border-width) solid var(--input-border-color);
  color: var(--mit-maroon);
  font-weight: bold;
  font-size: 14px;
  margin: 0 6px;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  height: 22px;
  min-width: 50px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 1pt var(--mit-maroon);
}

button:disabled {
  color: white;
}

button:hover:enabled {
  box-shadow: 0 0 0 1.5pt var(--mit-maroon);
  cursor: pointer;
}

button:hover:disabled {
  cursor: not-allowed;
}

button.confirm {
  background: var(--select-fill);
  color: var(--mit-maroon);           
  border: var(--input-border-width) solid var(--input-border-color);
}

button.confirm:disabled {
  color: gray;
}

label.confirm {
  font-size: 90%;
}

label.confirm::before {
  font-size:120%;
  content:"✔";
  color:#469c33;
}

.alertinfo {
  padding-left: 6px;
  font-size: 75%;
  font-weight: bold!important;
  font-style: italic;
  color: var(--alert-color)!important;
  vertical-align: middle;
}

.warninfo {
  padding-left: 6px;
  font-size: 75%;
  font-weight: bold!important;
  font-style: italic;
  color: var(--warn-color)!important;
  vertical-align: middle;
}

.info {
  padding-left: 10px;
  font-size: 75%;
  font-style: italic;
  color: var(--info-color);
}

p.flash-info, p.flash-warning, p.flash-cancel {
  padding: 0;
}
p.flash-info::before, p.flash-notify:before {
  font-size:110%;
  content:"✔";
  padding-right: 1px;
  vertical-align: -3%;
  color:#469c33;
}
p.flash-announce::before {
  vertical-align: 10%;
  padding-right: 3px;
  content: "🎉";
}
p.flash-instruct:before {
  vertical-align: 5%;
  padding-right: 3px;
  content: "💡";
}
p.flash-warning::before {
  content:"☡";
  font-size: 90%;
  vertical-align: -5%;
  color: #d11;
}
p.flash-cancel::before {
  content: "●";
  color:#b11;
  font-size: 80%;
  padding-right: 4px;
  vertical-align: 20%;
}
p.flash-error::before {
  content:"🗙";
  color: #d11;
  font-weight: bold;
  padding-right: 8px;
  vertical-align: 5%;
}
.flash-after {
  color: var(--mit-maroon);
  font-weight: bold;
  font-size: 95%;
  cursor: pointer;
  padding-left: 8px;
}
.flash-after:hover {
  background-color: var(--mit-pink);
}

p.flash-announce, p.flash-instruct, p.flash-notify {
  margin: 10px 0;
}
p.flash-error {
  margin: 5px;
}

table.mtab, table.gtab {
  margin: 0 auto;
  border-bottom: 1px solid #222;
}

table.mtab th, table.gtab th {
  padding: 2px;
  border-bottom: 1px solid #222;
}

table.mtab td, table.gtab td, table.ctab td {
  padding: 2.5px 20px;
  text-align: center;
}

table.btab {
  margin: 10px auto;
}
table.btab td {
  padding: 0 0 0 30px;
}

label.paction, label.naction {
  cursor: pointer;
  font-size: 95%;
  font-weight: bold;
  text-shadow: 0px 1px 1px var(--lighter-gray);
  padding: 1px 8px 2px 8px;
  white-space: nowrap;
}

label.paction {
  color: var(--mit-maroon);
}

label.naction {
  color: black;
}

label.paction:hover {
  background: var(--mit-pink);
}

label.naction:hover {
  background: var(--light-gray);
}

table.ctab {
  margin: 0 auto;
}
/*
div.caction p {
  font-weight: bold;
}
div.caction p i {
  color: var(--mit-maroon);
}
*/
.group-label {
  color: var(--mit-maroon);
  cursor: pointer;
}
.group-label:hover {
  background: var(--mit-pink);
}

ul.classlist {
  margin-top: 3px;
  padding: 0;
  list-style: none;
}
ul.classlist li {
  margin: 10px 0 0 20px;
}
ul.group-desc {
  margin: 5px 0 15px 0;
  padding: 0;
  list-style: none;
}
ul.group-desc li {
  margin: 10px 0 0 20px;
}
ul.faq {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 100%;
}
ul.faq li {
  margin: 5px 0 15px 0;
}
ul.faq p {
  font-weight: normal;
  font-size: 100%;
  margin: 12px 0 5px 19px;
  text-align: justify;
  text-justify: inter-word;
}
ul.about {
  margin-top: 10px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}
ul.about li {
  margin: 0px 0px 10px 0px;
}
ul.about p {
  font-weight: normal;
  font-size: 100%;
  margin: 12px 0 5px 19px;
  text-align: justify;
  text-justify: inter-word;
}

ul.classlist li.selected::before, ul.group-desc li::before, ul.group-members li::before, ul.faq li::before, ul.about li::before {
  content: "\2022";
  opacity: 1;
  font-size: 20px;
  padding-right: 3px;
  vertical-align: -10%;
  color: #70172e; /*var(--mit-maroon);*/
}

ul.classlist li::before {
  content: "\2022";
  opacity: 0;
  font-size: 20px;
  padding-right: 3px;
  vertical-align: -10%;
  color: #70172e; /*var(--mit-maroon);*/
}

@-moz-document url-prefix(){
ul.group-desc li::before {
  font-size: 60%;
  vertical-align: 28%;
}
}
ul.group-members {
  margin-top: -5px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
ul.group-members li {
  margin: 3px 0px 3px 20px;
}
ul.group-members li::before {
  font-weight:bold;
}
@-moz-document url-prefix(){
ul.group-members li::before {
  font-size: 60%;
  vertical-align: 28%;
}
}

/* BEGIN htoggler */
.htoggler, .profile-toggler {
  margin: 15px 0 5px 0;
  padding-left: 0;
  font-size: 110%;
  font-weight: bold;
  width: 100%;
}

.htoggler-nav {
  margin: 0 0 0 0;
}

.htoggler:focus {
  outline: none;
}

.htoggler-after {
  margin: 0 0 0 5px;
  float: none;
  color: black; 
}

.htoggler-inactive, .profile-toggler-toggle {
  float: right;
  color: var(--mit-maroon);
  background: var(--lighter-gray);
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: 11px;
  padding: 1px 6px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

.htoggler-inactive:focus, .profile-toggler-toggle:focus {
  box-shadow: 0 0 0 1pt var(--mit-maroon);
/*  border: 1.75px solid var(--input-border-color);*/
}

.htoggler-active {
  margin: 0;
  float: left;
  color: black;
  outline:none;
}

.htoggler-inactive:hover, .profile-toggler-toggle:hover {
  box-shadow: 0 0 0 1.5pt var(--mit-maroon);
  cursor: pointer;
}

/* END htoggler */

/* BEGIN toggler */
.toggler {
  margin: 0 0 20px 0;
  border-bottom: 1.5px solid var(--mit-maroon);
}

.toggler:focus {
  outline: none;
  border-bottom: 2px solid var(--mit-maroon);
}

.toggler-nav {
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  min-width: 50px;
  color: var(--mit-maroon);
  margin: 0 12px;
  outline: none;
}

.toggler-active {
  font-weight: bold;
  color: black;
}

.toggler-nav:not(.toggle-active):hover {
  background: var(--mit-pink);
  cursor: pointer;
}
/* END toggler */

/* BEGIN styling to get a reasonable looking cross-platform slider */
input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  margin-top: 6px;
  padding-top: 0;
  padding-bottom: 0;
  height: 10px;
  width: 100px;
  cursor: pointer;
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: 1px;
}

input[type="range"]:hover {
  box-shadow: 0 0 0 0.5pt var(--mit-maroon);
}

input[type="range"]:focus {
  box-shadow: 0 0 0 0.5pt var(--mit-maroon);
  outline: none;
}

::-webkit-slider-runnable-track {
  background: #fff;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 8px;
  background: var(--mit-gray);
  box-shadow: -100vw 0 0 100vw var(--slider-fill);
  border: var(--input-border-width) solid var(--input-border-color);
}

::-moz-range-track {
  height: 10px;
  background: #fff;
}

::-moz-range-thumb {
  background-color: var(--mit-gray);
  height: 10px;
  width: 10px;
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: 0;
  box-shadow: -100vw 0 0 100vw var(--slider-fill);
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: var(--slider-fill);
}

::-ms-thumb { 
  background-color: var(--mit-gray);
  border: : var(--input-border-width) solid var(--input-border-color);
  height: 10px;
  width: 10px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #fff;
  color: transparent;
  height: 10px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}
/* END styling to get a reasonable looking cross-platform slider */

/* BEGIN styling to stop chrome autofill from changing the background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/* END styling to stop chrome autofill from changing the background color */


/*
  BEGIN styling for cbg selector (intended to be used in grid of checkboxes).
  Note that you must call setup_cbg in psetpartners.js to use this
  Everything configurable is controlled by the variables --cbg-...
*/

:root {
  --cbg-cell-height: 16px;
  --cbg-cell-width: 32px;
  --cbg-cell-horizontal-spacing: 1.5px;
  --cbg-cell-vertical-spacing: 0px;
  --cbg-font-size: 11px; /* only relevant for captions, which are up to the html to include */
  --cbg-border-radius: 3px;
  --cbg-checked-color: var(--mit-maroon);
  --cbg-unchecked-color: var(--light-gray);
  --cbg-hover-checked-color: #808080;
  --cbg-hover-unchecked-color: var(--mit-pink);
}

table.cbg {
 border-collapse: collapse;
 touch-action: none;
}

label.cbg {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  height: var(--cbg-cell-height);
  width: var(--cbg-cell-width);
  cursor: pointer;
}
/* Hide the default checkbox (not really necessary) */
input.cbg[type=checkbox] {
  display: none;
}

tr.cbg {
  padding: 0;
  height: var(--cbg-cell-height);
  line-height: var(--cbg-cell-height);
}

td.cbg {
  padding-bottom: var(--cbg-cell-vertical-spacing);
  padding-left: var(--cbg-cell-horizontal-spacing);
  padding-top: 0;
  padding-right: 0;
  font-size: var(--cbg-font-size);
}

td.cbg.cbgt {
  vertical-align:bottom;
  padding-left:3px;
  padding-bottom:0px;
}

td.cbg.cbgr {
  vertical-align:center;
}

span.cbg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: var(--cbg-cell-height);
  width: var(--cbg-cell-width);
  border-radius: var(--cbg-border-radius);
  background-color: var(--cbg-unchecked-color);
  cursor: pointer;
}

span.cbg::after {
  content: "";
}

label.cbg input:hover ~ span.cbg {
  background-color: var(--cbg-unchecked-color);
  filter: brightness(85%);
/*  box-shadow: 0 0 0 1pt var(--cbg-hover-unchecked-color);*/
}

label.cbg input:checked ~ span.cbg {
  background-color: var(--cbg-checked-color);
}

label.cbg input:checked ~ span.cbg:hover {
  background-color: var(--cbg-checked-color);
  filter: brightness(120%);
/*  box-shadow: 0 0 0 1pt var(--cbg-hover-checked-color);*/
}
/* END styling for cbg selector (intended to be used in grid of checkboxes) */

.debug {
  background: #FF9;
  font-style: italic;
}
