<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

<h2>{{survey.name}}</h2>

<p>As the term comes to an end we are starting to think about our plans for next year and how we can improve pset partners.<br>We would be very grateful for your feedback.</p>
<br/>

<form name="login" action="{{ url_for('save_survey') }}" method="POST" name="survey" id="survey">
  <table class="input">
    <tr>
      <td class="caption" style="width:500px;">How useful was pset partners to you this term?</td>
      <td class="value">
        <span class="select" id="select-useful" tabindex="1"></span>
        <input type="hidden" name="useful" id="useful" value="{{survey.response.useful|blanknone}}"/>
      </td>
    </tr>
    <tr>
      <td class="caption">Do you plan to use pset partners next term?</td>
      <td class="value">
        <span class="select" id="select-again" tabindex="2"></span>
        <input type="hidden" name="again" id="again" value="{{survey.response.again|blanknone}}"/>
      </td>
    </tr>
    <tr>
      <td class="caption" style="vertical-align:top;">What could we do to improve pset partners?</td>
      <td class="value"><textarea class="value" name="improve" tabindex="3"  style="height:60px;" placeholder="optional" maxlength="1024">{{survey.response.improve}}</textarea></td>
    </tr>
    <tr>
      <td class="caption" style="vertical-align:top;">Any other comments?</td>
      <td class="value"><textarea class="value" name="comment" tabindex="4"  style="height:60px;" placeholder="optional" maxlength="1024">{{survey.response.comment}}</textarea></td>
    </tr>
  </table>

  <div style="display:inline-block;">
  <table class="submit">
    <tr>
      <td><button type="button" class="submit default" id="save" onclick="submitSurveyForm('save',this);" disabled tabindex="40">save</button></td>
      <td><label class="alertinfo" id="submit_alert"></label></td>
    </tr>
  </table>
</div>

<input type="hidden" name="survey_id" value="{{survey.id}}" />

</form>


<script>

const usefulOptions = [
  { label: '', value: '' },
  { label: 'extremely useful', value: '5', },
  { label: 'very useful', value: '4', },
  { label: 'somewhat useful', value: '3', },
  { label: 'better than nothing', value: '2', },
  { label: 'useless', value: '1', },
];

const againOptions = [
  { label: '', value: '' },
  { label: 'definitely', value: 'definitely', },
  { label: 'probably', value: 'probably', },
  { label: 'maybe', value: 'maybe', },
  { label: 'probably not', value: 'probably not', },
  { label: 'no', value: 'no', },
];

function checkChanges(e) {
  if ( ! e.target.name ) return;
  const done = $('#useful').val().trim().length > 0 && $('#again').val().trim().length > 0;
  $('#survey button.submit').prop('disabled',!done);
}

var submitting = false;

function submitSurveyForm(value, e) {
  if (submitting) return;
  submitting = true;
  $('.submit').prop('disabled',true);//prop('disabled',true); // prevent double-clicking
  e.style.color='black'; e.style.cursor='wait';
  $('input[name="ctx-submit"]').val(value);
  document.getElementById('survey').submit();
}

document.addEventListener('DOMContentLoaded', function() {
  makeSingleSelect('useful', usefulOptions, {});
  makeSingleSelect('again', againOptions, {});
  $('#survey :input').change(checkChanges);
  $('#survey :input').keyup(checkChanges);
});

</script>

{% endblock %}
