<!-- jshint ignore:start -->
{% extends 'homepage.html' %}

{% block content %}

<h2>{{survey.name}}</h2>

<p>Thank you for participating in the pset partners experiment!  As the term comes to a close we are starting to think about our plans for next year.  We are grateful for any feedback you can provide about your experience using pset partners this term.</p>
<br/>

<form name="login" action="{{ url_for('save_survey') }}" method="POST" name="survey" id="survey">
  <table class="input">
    <tr>
      <td class="caption" style="width:450px;">How useful was pset partners to you this term?</td>
      <td class="value">
        <span class="select" id="select-useful" tabindex="1"></span>
        <input type="hidden" name="useful" id="useful" value="{{survey.response.useful|blanknone}}"/>
      </td>
    </tr>
    <tr>
    {% if user.is_instructor %}
      <td class="caption">Did you use pset partners to view pset groups in your class?</td>
    {% else %}
      <td class="caption">Did you work with a group formed on pset partners?</td>
    {% endif %}
      <td class="value">
        <span class="select" id="select-used" tabindex="2"></span>
        <input type="hidden" name="used" id="used" value="{{survey.response.used|blanknone}}"/>
      </td>
    </tr>
    <tr>
      <td class="caption">Would you like to use pset partners again in the spring?</td>
      <td class="value">
        <span class="select" id="select-again" tabindex="3"></span>
        <input type="hidden" name="again" id="again" value="{{survey.response.again|blanknone}}"/>
      </td>
    </tr>
    <tr>
      <td class="caption" style="vertical-align:top; padding-top:7px;">How could pset partners be improved?</td>
      <td><textarea class="value" name="suggestion" tabindex="4"  placeholder="optional" maxlength="1024">{{survey.response.suggestion}}</textarea></td>
    </tr>
    <tr>
      <td class="caption" style="vertical-align:top; padding-top:7px;">Anything else you would like to tell us?</td>
      <td><textarea class="value" name="comment" tabindex="5"  placeholder="optional" maxlength="1024">{{survey.response.comment}}</textarea></td>
    </tr>
  </table>

  <div style="display:inline-block;">
  <table class="submit">
    <tr>
      <td><button type="button" class="submit default" id="save" onclick="submitSurveyForm('save',this);" disabled tabindex="40">save</button></td>
      <td><label class="alertinfo" id="submit_alert"></label></td>
    </tr>
  </table>
</div>

<input type="hidden" name="survey_id" value="{{survey.id}}" />

</form>


<script>

const usefulOptions = [
  { label: '', value: '' },
  { label: 'useless', value: '1', },
  { label: 'better than nothing', value: '2', },
  { label: 'moderately useful', value: '3', },
  { label: 'quite useful', value: '4', },
  { label: 'very useful', value: '5', },
  { label: 'not applicable', value: '0', },
];

const usedOptions = [
  { label: '', value: '' },
  { label: 'no', value: 'no', },
  { label: 'yes', value: 'yes', },
  { label: 'not applicable', value: 'na', },
];

const againOptions = [
  { label: '', value: '' },
  { label: 'no', value: 'no', },
  { label: 'maybe', value: 'maybe', },
  { label: 'yes', value: 'yes', },
  { label: 'not applicable', value: 'na', },
];

function checkChanges(e) {
  if ( ! e.target.name ) return;
  const done = $('#useful').val().trim().length > 0 && $('#used').val().trim().length > 0 && $('#again').val().trim().length > 0;
  console.log(done)
  $('#survey button.submit').prop('disabled',!done);
}

var submitting = false;

function submitSurveyForm(value, e) {
  if (submitting) return;
  submitting = true;
  $('.submit').prop('disabled',true);//prop('disabled',true); // prevent double-clicking
  e.style.color='black'; e.style.cursor='wait';
  $('input[name="ctx-submit"]').val(value);
  document.getElementById('survey').submit();
}

document.addEventListener('DOMContentLoaded', function() {
  makeSingleSelect('useful', usefulOptions, {});
  makeSingleSelect('used', usedOptions, {});
  makeSingleSelect('again', againOptions, {});
  $('#survey :input').change(checkChanges);
});

</script>

{% endblock %}
