{% extends 'homepage.html' %}

{% block content %}

{% if not user.is_authenticated %}

  <h3>Please login</h3>

  <form name="login" action="{{ url_for('.login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
      <tr>
        <td class="caption" style="width:100px" tabindex="1">Kerberos ID:</td>
        <td><input class="value" name="identifier" style="width:100px" /></td>
        <td><button class="save" name="submit" type="submit" style="margin-left:10px">Login</button></td>
      </tr>
{#
      <tr><td class="caption" style="width:100px" tabindex="2">Password:</td>
          <td><input class="value" name="password" type="password"  style="width:100px"/></td>
          <td> (<a href="{{ url_for('.reset_password') }}">Forgot password?</a>) </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="save" name="submit" type="submit" tabindex="3">Login</button></td>
      </tr>
#}
    </table>
  </form>

{% else %}

  <form action="{{ url_for('.logout') }}" method="POST" name="logout">
  <h2>You are logged in as {{ user.preferred_name }}<div style="float: right; margin-right: 10px"><button name="logout" type="submit" tabindex="-1">Logout</button></div></h2>
  </form>

  {# hide userinfo form initially, show only after everything is ready #}
  <form action="{{ url_for('.set_info') }}" method="post" name="userinfo" id="userinfo">

  <h3>Personal profile</h3>

  <table class="input">
    <tr>
      <td class="caption">Preferred name</td>
      <td class="value"><input class="value" spellcheck="false" name="preferred_name" id="preferred_name" value="{{user.preferred_name}}" tabindex="1" required maxlength="{{maxlength['preferred_name']}}" /></td><td class="forminfo">required</td>
    </tr>
    <tr>
      <td class="caption">Preferred pronouns</td>
      <td class="value"><input class="value" spellcheck="false" name="preferred_pronouns" value="{{user.preferred_pronouns}}" tabindex="2" placeholder="e.g. he/him, she/hers, they/them" maxlength="{{maxlength['preferred_pronouns']}}" /></td><td class="forminfo">optional</td>
    </tr>
    <tr>
      <td class="caption">Homepage</td>
      <td class="value"><input class="value" spellcheck="false" name="homepage" id="homepage" value="{{user.homepage}}" tabindex="3" placeholder="e.g. https://www.mit.edu/~johndoe/" maxlength="{{maxlength['homepage']}}" /></td>
      <td class="forminfo">optional</td>
    </tr>
    <tr>
      <td class="caption">Department(s)</td>
      <td class="value">
        <span class="select" name="departments" tabindex="4"></span>
        <input type="hidden" name="departments" value="{{user.departments|safe}}"/>
      </td>
      <td class="forminfo">enables affinity preference</td>
    </tr>
    <tr>
      <td class="caption">Current year</td>
      <td class="value">
        <span class="select" name="year" tabindex="5"></span>
        <input type="hidden" name="year" value="{{user.year|blanknone}}"/>
      </td>
      <td class="forminfo">enables affinity preference</td>
    </tr>
    <tr>
      <td class="caption">Gender identity</td>
      <td class="value">
        <span class="select" name="gender" tabindex="5"></span>
        <input type="hidden" name="gender" value="{{user.gender|blanknone}}"/>
      </td>
      <td class="forminfo">enables affinity preference</td>
    </tr>
    {#
    <tr>
      <td class="caption" style="vertical-align:top; padding-top:7px;">About me</td>
      <td><textarea class="value" name="description" tabindex="6"  placeholder="A fun fact or something you would like your pset partners to know about you." rows="4" maxlength="{{maxlength['description']}}">{{user.description}}</textarea></td>
    </tr>
    #}
  </table>

  <h3>Profile for the {{current_upcoming()}} term ({{current_term_pretty()}})</h3>
  <table class="input" style="margin-bottom:0px;">
    <tr>
      <td class="caption">Location</td>
      <td class="value">
        <span class="select" name="location" tabindex="7"></span>
        <input type="hidden" name="location" value="{{user.location}}"/>
      </td>
    </tr>
    <tr>
      <td class="caption">Time zone</td>
      <td class="value">
        <span class="select" name="timezone" tabindex="8"></span>
        <input type="hidden" name="timezone" value="{{user.timezone}}" onchange="showTimezoneOffset()"/>
      </td>
    </tr>
    <tr>
      <td class="caption">Classes</td>
      <td class="value">
        <span class="select" name="classes" tabindex="9"></span>
        <input type="hidden" name="classes" value="{{user.classes|safe}}"/>
      </td>
    </tr>
    <tr><td class="caption" colspan="2" style="padding-top:10px;">Times available for collaboration</td></tr>
  </table>
  <br>
  <table class="cbg" id="hours" style="margin-left:60px; margin-top:-10px;">
    <tr class="cbg">
      {% for i in range(24) %}
        <td class="cbg cbgt">{{i}}</td>
      {% endfor %}
    </tr>
    {% for i in range(7) %}
    <tr class="checkboxgrid">
      {% for j in range(24) %}
      <td class="cbg"><label class="cbg">
          <input class="cbg" name="hours-{{i}}-{{j}}" id="check-hours-{{i}}-{{j}}" type="checkbox" {% if user.hours[i][j] %}checked{% endif %} />
          <span id="hours-{{i}}-{{j}}" class="cbg"></span>
      </label></td>
      {% endfor %}
      <td class="cbg cbgr">{{options.weekday[i]}}</td>
    </tr>
    {% endfor %}
  </table>
  <label name="tzoffset" style="margin-left:410px; width:80px; text-align:center; font-size:80%"></label>
  <br>
  <h3 id="prefheader">Preferences</h3>

   <div class="pref-toggler">
    <header class="inner">
      <div class="pref-toggler-inner">
        {% for i in range(user.classes|length+1) %}
        <div class="toggler-nav {% if not i %}toggle-active{% endif %}" id="pref-{{i}}">{{user.classes[i-1] if i else "General"}}</div>
        {% endfor %}
      </div>
    </header>
  </div>


{% macro PREF(pref,tabindex,general) -%}
{% set general = general|default(true) %}
  {% for i in range(user.classes|length+1) %}
    {% if general or i %}
      <td class="value pref-{{pref}} pref-{{i}}" {% if i %} style="display:none;" {% endif %}>
        <span class="select" name="pref-{{pref}}-{{i}}" tabindex="{{tabindex}}"></span>
        <input type="hidden" name="pref-{{pref}}-{{i}}"
               value="{{ user.class_data[user.classes[i-1]].preferences[pref] if i else user.preferences[pref] }}"/>
      </td>
      <td class="pref-{{pref}} pref-{{i}}" style="padding-left:10px;{% if i %} display:none;{% endif %}">
        <input class="slider pref-{{pref}}" name="spref-{{pref}}-{{i}}" type="range" min="1" max="5"
               value="{{ user.class_data[user.classes[i-1]].strengths[pref] if i else user.strengths[pref] }}" steps="1"
               oninput="changeStrength(this.name,this.value); this.dispatchEvent(new Event('change'));" />
        <label class="strength pref-{{pref}}" name="spref-{{pref}}-{{i}}"></label>
      </td>
    {% endif %}
  {% endfor %}
{%- endmacro %}

  <table class="input" class="pref">
    <tr>
      <td class="caption">When you like to start working</td>
      {{PREF('start',11)}}
    </tr>
    <tr>
      <td class="caption">How you like to collaborate</td>
      {{PREF('together',12)}}
    </tr>
    <tr>
      <td class="caption">How you like to communicate</td>
      {{PREF('forum',13)}}
    </tr>
    {# <tr style="height:20px;"></tr> #}
    <tr>
      <td class="caption">Your ideal group size</td>
      {{PREF('size',14)}}
    </tr>
    <tr class="departments_affinity">
      <td class="caption"><label class="departments_affinity">Your ideal group would include</label></td>
      {{PREF('departments_affinity',15)}}
    </tr>
    <tr class="year_affinity">
      <td class="caption year_affinity"><label class="year_affinity">Your ideal group would include</label></td>
      {{PREF('year_affinity',16)}}
    </tr>
    <tr class="gender_affinity">
      <td class="caption gender_affinity"><label class="gender_affinity">Your ideal group would include</label></td>
      {{PREF('gender_affinity',17)}}
    </tr>
  </table>

  <table class="submit">
    <tr><td><button type="submit" name="submit" id="save" value="save" tabindex="17" disabled>Save</button></td>
        <td><button type="submit" name="submit" id="cancel" value="cancel" tabindex="-1" disabled>Reset</button></td>
        <td colspan="2"><label class="alertinfo" id="submitalert"></td>
    </tr>
  </table>
  </form>

<script type="text/javascript">

const classesOptions = [
{% for val, option in options.classes %}
  { label: '{{val}} {{option}}', value: '{{val}}', },
{% endfor %}
];

const strengthOptions = [ "no preference",  "nice to have",  "weakly preferred",  "preferred",  "strongly preferred",  "required", ];

/* userClasses acts as an associative array indexed by class_number into user.class_data */
userClasses = [
{% for class_number in user.classes %}
  {{user.class_data[class_number]|tojson|safe}},
{% endfor %}
];


function togglePrefs(e) {
  const id = e.id;
  const oldid = $('.toggler-nav.toggler-active').attr('id');
  if ( id == oldid ) return;
  i = parseInt(id.split('-')[1]);
  $('#prefheader').text('Preferences' + (i ? ' for ' + userClasses[i-1]['class_number'] + ' ' + userClasses[i-1]['class_name'] : ''));
  console.log('hiding ' + oldid + ', showing ' + id);
  $('.' + oldid).hide();  $('.'+id).show();
  $('#' + oldid).toggleClass('toggler-active'); jQuery(e).toggleClass('toggler-active');
}

function saveErrorMessage() {
  if ( $('#preferred_name').val().trim() == '' )
    return 'Please enter your preferred name.';
  if ( $('#hours input:checkbox:checked').length < 6 )
    return 'Please select at least 6 hours when you are available to collaborate.';
  if ( ! validURL($('#homepage').val()) )
    return 'Please correct or delete the invalid URL listed for your homepage.';
  return '';
}

function saveInfoMessage() {
  const qc = $('input[name="classes"]');
  if ( qc.data('initial') != qc.val() ) return 'Save changes to update preferences menu.';
  return '';
}

function changeStrength(name, value) {
  $('label[name="'+name+'"]').text(strengthOptions[value]); 
}

function showStrengths() {
  ["start", "together", "forum", "size", "year_affinity", "gender_affinity", "departments_affinity"].forEach(function (pref) {
    for ( i = 0 ; i < userClasses.length+1 ; i++ ) {
      const val = $('input[name="pref-' + pref + '-' + i + '"]').val();
      const inp = 'input[name="spref-' + pref + '-' + i + '"]';
      const lab = 'label[name="spref-' + pref + '-' + i + '"]';
      if ( val == '' || val == '[]' ) {     
        $(inp).hide();
        if ( $(inp).val() != '3' ) $(inp).val('3');
        $(lab).text(strengthOptions[0]);
      } else {
        $(lab).text(strengthOptions[$(inp).val()]);
        $(inp).show();
      }
    }
  });
}

function showPreferences() {
  var caption = false;
  ["departments", "year", "gender"].forEach(function (x) {
    const val = $('input[name="' + x + '"]').val();
    const a = x + '_affinity';
    if ( val == '' || val == '[]' ) {
      $('.' + a).hide();
      for ( i = 0 ; i < userClasses.length + 1 ; i++ ) {
        const inp = 'input[name="pref-' + a + '-' + i + '"]';
        $(inp).val(''); $(inp).data('select').reset();
      }
    } else {
      $('.' + a).show();
      if ( ! caption ) { $("label." + a).show(); caption = true; } else { $("label." + a).hide(); }
    }
  });
}

function showTimezoneOffset() {
  const tz = $('input[name="timezone"]').val();
  tzopt = timezoneOptions.find(x => x.value==tz);
  $('label[name="tzoffset"]').text( (tzopt && tzopt.label.includes(')')) ? tzopt.label.split(')')[0] + ')' : '');
}

function checkChanges (e) {
  if ( e ) console.log (e.target.name + ' changed to ' + e.target.value);
  s = $('input[name="classes"]').data('select');
  const change = $('#userinfo').serialize() != $('#userinfo').data('initial');
  $('#userinfo :submit').prop('disabled',!change);
  const msg = saveErrorMessage();
  if ( msg ) $('#save').prop('disabled',true);
  $('#submitalert').text(msg?msg:saveInfoMessage());
 if ( ["departments", "year", "gender"].find(x => x == e.target.name) ) { showStrengths(); showPreferences(); }
  if ( e.target.name.slice(0,5) == 'pref-' ) showStrengths();
}

document.addEventListener('DOMContentLoaded', function() {
    // hide content during setup
    makeMultiSelect('departments', departmentsOptions, {{user.departments|safe}});
    makeMultiSelect('classes', classesOptions, {{user.classes|safe}}, true, true);
    makeSingleSelect('location', locationOptions);
    makeSingleSelect('timezone', timezoneOptions);
    makeSingleSelect('year', yearOptions, true);
    makeSingleSelect('gender', genderOptions, true);
    {% for pref in ["start", "together", "forum", "size", "year_affinity", "gender_affinity"] %}
      {% for i in range(user.classes|length+1) %}
        makeSingleSelect('pref-{{pref}}-{{i}}', {{pref}}Options, true);
      {% endfor %}
    {% endfor %}
    {% for i in range(user.classes|length+1) %}
      makeSingleSelect('pref-departments_affinity-{{i}}', {{"departmentsOptions" if (user.departments|length)>1 else "departmentOptions"}}, true);
    {% endfor %}
    makeCheckboxGrid();
    showTimezoneOffset();
    $('input').attr('autocomplete','off');
    showStrengths();
    showPreferences();

    $('.toggler-nav').click(function(e) { e.preventDefault(); togglePrefs(e.target); return false; });
    togglePrefs(document.getElementById('pref-0'));
    $('input[name="classes"]').data('initial',$('input[name="classes"]').val());
    $('#userinfo').data('initial',$('#userinfo').serialize());
    $('#userinfo :input').change(checkChanges);
    $('#userinfo :text').keyup(checkChanges);  /* this is overkill but the only way to catch all changes in real time */

    console.log('user-info ready');
});
</script>

{% endif %}

{% endblock %}
