{% extends 'homepage.html' %}

{% macro PREF(pref,tabindex,prefoptionkey) -%}
  {% set prefoptionkey = prefoptionkey|default(pref) %}
    <td class="value pref_{{pref}}">
      <span class="select" name="pref_{{pref}}" tabindex="10"></span>
      <input type="hidden" name="pref_{{pref}}" value="{{user.preferences[pref]}}"/>
    </td>
    <td class="pref_{{pref}} spref_{{pref}}" style="padding-left:0;"><input name="spref_{{pref}}" id="spref_{{pref}}_input" type="range" min="1" max="5" value="{{user.strengths[pref]}}" steps="1" class="slider" oninput="spref_{{pref}}_output.value = {{options.strength}}[spref_{{pref}}_input.value]; spref_{{pref}}.dispatchEvent(new Event('change'));"
  /></td>
    <td class="pref_{{pref}} spref_{{pref}}"><output class="value" id="spref_{{pref}}_output">{{options.strength[user.strengths[pref]]}}</output></td>
{%- endmacro %}

{% macro OPTIONS(jname,oname,valprefix) -%}
{% set oname = oname|default(jname) %}
{% set valprefix = valprefix|default(false) %}
const {{jname}}Options = [
  {% for val, option in options[oname] %}
    { label: '{% if valprefix %}{{val}} {% endif %}{{option}}', value: '{{val}}', },
  {% endfor %}
];
{%- endmacro %}

{% block content %}

{% if not user.is_authenticated %}

  <h3>Please login</h3>

  <form name="login" action="{{ url_for('.login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
      <tr>
        <td class="caption" style="width:100px" tabindex="1">Kerberos ID:</td>
        <td><input class="value" name="identifier" style="width:100px" /></td>
        <td><button class="save" name="submit" type="submit" style="margin-left:10px">Login</button></td>
      </tr>
{#
      <tr><td class="caption" style="width:100px" tabindex="2">Password:</td>
          <td><input class="value" name="password" type="password"  style="width:100px"/></td>
          <td> (<a href="{{ url_for('.reset_password') }}">Forgot password?</a>) </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="save" name="submit" type="submit" tabindex="3">Login</button></td>
      </tr>
#}
    </table>
  </form>

{% else %}

  <form action="{{ url_for('.logout') }}" method="POST" name="logout">
  <h2>You are logged in as {{ user.preferred_name }}<div style="float: right; margin-right: 10px"><button name="logout" type="submit" tabindex="-1">Logout</button></div></h2>
  </form>

  {# hide userinfo form initially, show only after everything is ready #}
  <form action="{{ url_for('.set_info') }}" method="post" name="userinfo" id="userinfo">

  <h3>Personal profile</h3>

  <table class="input">
    <tr>
      <td class="caption">Preferred name</td>
      <td><input class="value" spellcheck="false" name="preferred_name" id="preferred_name" value="{{user.preferred_name}}" tabindex="1" required maxlength="{{maxlength['preferred_name']}}" /></td><td class="forminfo">required</td>
    </tr>
    <tr>
      <td class="caption">Preferred pronouns</td>
      <td><input class="value" spellcheck="false" name="preferred_pronouns" value="{{user.preferred_pronouns}}" tabindex="2" placeholder="e.g. he/him, she/hers, they/them" maxlength="{{maxlength['preferred_pronouns']}}" /></td><td class="forminfo">optional</td>
    </tr>
    <tr>
      <td class="caption">Homepage</td>
      <td><input class="value" spellcheck="false" name="homepage" id="homepage" value="{{user.homepage}}" tabindex="3" placeholder="e.g. https://www.mit.edu/~johndoe/" maxlength="{{maxlength['homepage']}}" /></td>
      <td class="forminfo">optional</td>
    </tr>
    <tr>
      <td class="caption">Department(s)</td>
      <td class="value">
        <span class="select" name="departments" tabindex="4"></span>
        <input type="hidden" name="departments" value="{{user.departments|safe}}"/>
      </td>
      <td class="forminfo">enables affinity preference</td>
    </tr>
    <tr>
      <td class="caption">Current year</td>
      <td class="value">
        <span class="select" name="year" tabindex="5"></span>
        <input type="hidden" name="year" value="{{user.year|blanknone}}"/>
      </td>
      <td class="forminfo">enables affinity preference</td>
    </tr>
    <tr>
      <td class="caption">Gender identity</td>
      <td class="value">
        <span class="select" name="gender" tabindex="5"></span>
        <input type="hidden" name="gender" value="{{user.gender|blanknone}}"/>
      </td>
      <td class="forminfo">enables affinity preference</td>
    </tr>
    {#
    <tr>
      <td class="caption" style="vertical-align:top; padding-top:7px;">About me</td>
      <td><textarea class="value" name="description" tabindex="6"  placeholder="A fun fact or something you would like your pset partners to know about you." rows="4" maxlength="{{maxlength['description']}}">{{user.description}}</textarea></td>
    </tr>
    #}
  </table>

  <h3>Profile for the {{current_upcoming()}} term ({{current_term_pretty()}})</h3>
  <table class="input" style="margin-bottom:0px;">
    <tr>
      <td class="caption">Location</td>
      <td class="value">
        <span class="select" name="location" tabindex="7"></span>
        <input type="hidden" name="location" value="{{user.location}}"/>
      </td>
    </tr>
    <tr>
      <td class="caption">Time zone</td>
      <td class="value">
        <span class="select" name="timezone" tabindex="8"></span>
        <input type="hidden" name="timezone" value="{{user.timezone}}"/>
      </td>
    </tr>
    <tr>
      <td class="caption">Classes</td>
      <td class="value">
        <span class="select" name="classes" tabindex="9"></span>
        <input type="hidden" name="classes" value="{{user.classes|safe}}"/>
      </td>
    </tr>
    <tr><td class="caption" colspan="2" style="padding-top:10px;">Times available for collaboration <span class="forminfo">in your time zone</span></td></tr>
  </table>
  <br>
  <table class="checkboxgrid" id="hours" style="margin-left:40px; margin-top:-10px;">
    <tr class="checkboxgird">
      {% for i in range(24) %}
        <td class="checkboxgrid" style="vertical-align:bottom; padding-left:3px; padding-bottom:0px;">{{i}}</td>
      {% endfor %}
    </tr>
    {% for i in range(7) %}
    <tr class="checkboxgrid">
      {% for j in range(24) %}
      <td class="checkboxgrid"><label class="checkboxgrid">
          <input class="checkboxgrid" name="hours-{{i}}-{{j}}" id="check-hours-{{i}}-{{j}}" type="checkbox" {% if user.hours[i][j] %}checked{% endif %} />
          <span id="hours-{{i}}-{{j}}" class="checkboxgrid"></span>
      </label></td>
      {% endfor %}
      <td class="checkboxgrid" style="vertical-align:center;">{{options.weekday[i]}}</td>
    </tr>
    {% endfor %}
  </table>

  <h3 id="classprefhead">Preferences <span class="forminfo">blank means no preference</span></h3>

  <table class="input">
    <tr>
      <td class="caption">When you like to start working</td>
      {{PREF('start',10)}}
    </tr>
    <tr>
      <td class="caption">How you like to collaborate</td>
      {{PREF('together',11)}}
    </tr>
    <tr>
      <td class="caption">How you like to communicate</td>
      {{PREF('forum',12)}}
    </tr>
    {# <tr style="height:20px;"></tr> #}
    <tr>
      <td class="caption">Your ideal group size</td>
      {{PREF('group_size',13)}}
    </tr>
    <tr class="departments_affinity">
      <td class="caption"><label class="departments_affinity">Your ideal group would include</label></td>
      {{PREF('departments_affinity',14)}}
    </tr>
    <tr class="year_affinity">
      <td class="caption year_affinity"><label class="year_affinity">Your ideal group would include</label></td>
      {{PREF('year_affinity',15)}}
    </tr>
    <tr class="gender_affinity">
      <td class="caption gender_affinity"><label class="gender_affinity">Your ideal group would include</label></td>
      {{PREF('gender_affinity',16)}}
    </tr>
  </table>

<h3>{{user.is_new}}</h3>

  <table class="submit">
    <tr><td><button type="submit" name="submit" id="save" value="save" tabindex="17" disabled>Save</button></td>
        <td><button type="submit" name="submit" id="cancel" value="cancel" tabindex="-1" disabled>Reset</button></td>
        <td class="alertinfo" colspan="2" id="submitalert"></td>
    </tr>
  </table>
  </form>

<script type="text/javascript">

{{OPTIONS("departments",valprefix=true)}}
{{OPTIONS("classes",valprefix=true)}}
{% if (user.departments|length) == 1 %}
  {{OPTIONS("departments_affinity",oname="department_affinity")}}
{% else %}
  {{OPTIONS("departments_affinity")}}
{% endif %}
{% for name in ["year", "gender", "location", "timezone", "start", "together", "forum", "group_size", "year_affinity", "gender_affinity"] %}
  {{OPTIONS(name)}}
{% endfor %}

function saveErrorMessage() {
  if ( $('#preferred_name').val().trim() == '' )
    return 'Please enter your preferred name.';
  if ( $('#hours input:checkbox:checked').length < 6 )
    return 'Please select at least 6 hours when you are available to collaborate.';
  if ( ! validURL($('#homepage').val()) )
    return 'Please correct or delete the invalid URL listed for your homepage.';
  return '';
}

function showStrengths() {
  ["start", "together", "forum", "group_size", "year_affinity", "gender_affinity", "departments_affinity"].forEach(function (pref) {
    const val = $('input[name="pref_' + pref + '"]').val();
    const as = '.spref_' +  pref;
    if ( val == '' || val == '[]' ) {     
      $(as).hide();
      const i = 'input[name="spref_' + pref + '"]';
      if ( $(i).val() != '3' ) { $(i).val('3');  $(i).trigger('input'); }
    } else {
      $(as).show();
    }
  });
}

function showPreferences() {
  var caption = false;
  ["departments", "year", "gender"].forEach(function (pref) {
    const val = $('input[name="' + pref + '"]').val();
    const a = '.' + pref + '_affinity';
    const as = '.' + pref + '_affinity_strength';
    if ( val == '' || val == '[]' ) {
      $(a).hide();
      const i = 'input[name="pref_' + pref + '_affinity"]';
      $(i).val('');
      $(i).data('select').reset();
    } else {
      $(a).show();
      if ( ! caption ) {
        $("label" + a).show();
        caption = true;
      } else {
        $("label" + a).hide();
      }
    }
  });
}

function check_change (e) {
  if ( e ) console.log (e.target.name + ' changed to ' + e.target.value);
  s = $('input[name="classes"]').data('select');
  const change = $('#userinfo').serialize() != $('#userinfo').data('initial');
  $('#userinfo :submit').prop('disabled',!change);
  const msg = saveErrorMessage();
  if ( msg ) $('#save').prop('disabled',true);
  $('#submitalert').html(msg);
  if ( ["departments", "year", "gender"].find(x => x == e.target.name) ) { showStrengths(); showPreferences(); }
  if ( e.target.name.slice(0,5) == 'pref_' ) showStrengths();
}

document.addEventListener('DOMContentLoaded', function() {
    // hide content during setup
    $('#content').toggle();
    makeMultiSelect('departments', departmentsOptions, {{user.departments|safe}});
    makeMultiSelect('classes', classesOptions, {{user.classes|safe}}, true, true);
    makeSingleSelect('location', locationOptions, '{{user.location}}');
    makeSingleSelect('timezone', timezoneOptions, '{{user.timezone}}');
    makeSingleSelect('year', yearOptions, '{{user.year|blanknone}}', true);
    makeSingleSelect('gender', genderOptions, '{{user.gender|blanknone}}', true);
    {% for pref in ["start", "together", "forum", "group_size", "departments_affinity", "year_affinity", "gender_affinity"] %}
      makeSingleSelect('pref_{{pref}}', {{pref}}Options, '{{user.preferences[pref]|blanknone}}', true);
    {% endfor %}
    setup_checkboxgrid();
    $('#userinfo').data('initial',$('#userinfo').serialize());
    $('#userinfo :input').change(check_change);
    $('#userinfo :text').keyup(check_change);  /* this is overkill but the only way to catch all changes in real time */
    $('input').attr('autocomplete','off');
    showStrengths();
    showPreferences();
    console.log('user-info ready');
    $('#content').toggle();
});
</script>

{% endif %}

{% endblock %}
