{% extends 'homepage.html' %}

{% macro PREF(pref) -%}
  <td class="{{pref}}" style="padding-right:0">
    <select class="value" name="pref_{{pref}}" id="pref_{{pref}}"
            onchange="spref_{{pref}}_input.style.visibility = spref_{{pref}}_output.style.visibility = pref_{{pref}}.value == '' ? 'hidden' : 'visible';">
      <option value=""{% if not user.preferences[pref] %} selected {% endif %}></option>
      {% for (value, display) in options[pref] %}
      <option value="{{value}}" {% if user.preferences[pref] == value %} selected {% endif %}>{{display}}</option>
      {% endfor %}
    </select>
  </td>
  <td class="{{pref}}" style="padding-left:0;"><input name="spref_{{pref}}" id="spref_{{pref}}_input" type="range" min="1" max="5" value="{{user.strengths[pref]}}" steps="1" class="slider" oninput="spref_{{pref}}_output.value = {{options['strength']}}[spref_{{pref}}_input.value]" /></td>
  <td><output class="value" id="spref_{{pref}}_output">{{options['strength'][user.strengths[pref]]}}</output></td>
{%- endmacro %}

{% block content %}

{% if not user.is_authenticated %}

  <h3>Please login</h3>

  <form name="login" action="{{ url_for('.login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
      <tr>
        <td class="caption" style="width:100px">Kerberos ID:</td>
        <td><input class="value" name="identifier" style="width:100px" /></td>
        <td><button class="save" name="submit" type="submit" style="margin-left:10px">Login</button></td>
      </tr>
{#
      <tr><td class="caption" style="width:100px">Password:</td>
          <td><input class="value" name="password" type="password"  style="width:100px"/></td>
          <td> (<a href="{{ url_for('.reset_password') }}">Forgot password?</a>) </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="save" name="submit" type="submit">Login</button></td>
      </tr>
#}
    </table>
  </form>

{% else %}
  <form action="{{ url_for('.logout') }}" method="POST" name="logout">
  <h2>You are logged in as {{ user.preferred_name }}<div style="float: right; margin-right: 50px"><button name="logout" type="submit">Logout</button></div></h2>
  </form>

  <h3>Classes</h3>

  <form action="{{ url_for('.set_info') }}" method="post" name="userinfo">
  <h3>Personal details</h3>

  <table class="input">
    <tr>
      <td class="caption">Preferred name (required)</td>
      <td><input class="value" spellcheck="false" name="preferred_name" value="{{user.preferred_name}}" tabindex="1" required maxlength="{{maxlength['preferred_name']}}" /></td>
    </tr>
    <tr>
      <td class="caption">Preferred pronouns</td>
      <td><input class="value" spellcheck="false" name="preferred_pronouns" value="{{user.preferred_pronouns}}" tabindex="2" placeholder="e.g. he/him, she/hers, they/them" maxlength="{{maxlength['preferred_pronouns']}}" /></td>
    </tr>
    <tr>
      <td class="caption">Current year</td>
      <td>
        <select class="value" name="year"  tabindex="3"
          onchange="if ( year.value == '' ) $('.year_affinity').hide(); else $('.year_affinity').show();">
          <option value=""{% if not user.year %} selected {% endif %}></option>
          {% for (value, display) in options["year"] %}
          <option value="{{value}}" {% if user.year == value %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Gender identity</td>
      <td>
        <select class="value" name="gender" id="gender" tabindex="4"
          onchange="if ( gender.value == '' ) { $('.gender_affinity').hide(); } else $('.gender_affinity').show();">
          <option value=""{% if not user.gender %} selected {% endif %}></option>
          {% for (value, display) in options["gender"] %}
          <option value="{{value}}" {% if user.gender == value %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Homepage</td>
      <td><input class="value" spellcheck="false" name="homepage" id="homepage" value="{{user.homepage}}" tabindex="5" placeholder="e.g. https://www.mit.edu/~johndoe/" maxlength="{{maxlength['homepage']}}" /></td><td class=forminfo id="homepage_link"></td>
    </tr>
    {#
    <tr>
      <td classe="caption" style="vertical-align:top; padding-top:7px;">About me</td>
      <td><textarea class="value" name="description" tabindex="5"  placeholder="A fun fact or something you would like your pset partners to know about you." rows="4" maxlength="{{maxlength['description']}}">{{user.description}}</textarea></td>
    </tr>
    #}
  </table>

  <h3>Location and availability for fall 2020</h3>
  <table class="input" style="margin-bottom:0px;">
    <tr>
      <td class="caption">Location</td>
      <td><select class="value" name="location" id="location"  tabindex="6" onchange="if ( location.value !='far' ) timezone.value='';">
            {% for value, display in options["location"] %}
            <option value="{{value}}" {% if value == user.location %} selected=true {%endif%}>{{display}}</option>
            {% endfor %}
          </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Time zone</td>
      <td><select class="value" name="timezone" id="timezone"  tabindex="7">
            {% for value, display in options["timezones"] %}
            <option value="{{value}}" {% if value == user.timezone %} selected=true {%endif%}>{{display}}</option>
            {% endfor %}
          </select>
      </td>
    </tr>
    <tr><td class="caption" colspan="2" style="padding-top:10px;">Weekly hours available to pset this term (in the time zone selected above)</td></tr>
  </table>
  <br>
  <table style="margin-left:60px;">
    <tr>
      {% for i in range(24) %}
        <td align="left" style="font-size:12px; padding-left:2px; vertical-align:bottom;">{{i}}</td>
      {% endfor %}
    </tr>
    {% for i in range(7) %}
    <tr>
      {% for j in range(24) %}
      <td><label class="checkboxgrid">
          <input class="checkboxgrid" name="hours-{{i}}-{{j}}" id="check-hours-{{i}}-{{j}}" type="checkbox" {% if user.hours[i][j] %}checked{% endif %} />
          <span id="hours-{{i}}-{{j}}" class="checkboxgrid"></span>
      </label></td>
      {% endfor %}
      <td style="font-size:12px; vertical-align:top;">{{options["weekday"][i]}}</td>
    </tr>
    {% endfor %}
  </table>

  <h3>General preferences <span class="comment">(may be customized per class, blank means no preference)</span></h3>

  <table class="input">
    <tr>
      <td class="caption">When you like to start working</td>
      {{PREF('start')}}
    </tr>
    <tr>
      <td class="caption">How you like to collaborate</td>
      {{PREF('together')}}
    </tr>
    <tr>
      <td class="caption">How you like to communicate</td>
      {{PREF('forum')}}
    </tr>
    <tr style="height:20px;"></tr>
    <tr>
      <td class="caption">Your ideal group size</td>
      {{PREF('group_size')}}
    </tr>
    <tr class="year_affinity">
      <td class="caption year_affinity">Your ideal group would include</td>
      {{PREF('year_affinity')}}
    </tr>
    <tr class="gender_affinity">
      <td class="caption gender_affinity">Your ideal group would include</td>
      {{PREF('gender_affinity')}}
    </tr>
  </table>

  <button type="submit" name="submit" value="save">Save</button>
  </form>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    setup_checkboxgrid();
    setup_url_tester("homepage","homepage_link","","invalid url");
  });
</script>


{% endif %}

{% endblock %}
