:root {
  --min-height: 32px;
  --max-height: 408px;
  --row-height: 20px;
}

.sp-placeholder {
  color: gray;
  font-style: italic;
  font-size: 90%;
}

.sp-placeholder::after {
  content: "▽";
  font-weight: normal;
  position: absolute;
  bottom: 7px;
  right: 2px;
  color: var(--mit-maroon);
  font-style: normal;
  font-size: 70%;
}

.select-wrapper {
  margin: auto;
  max-width: var(--value-width);
  width: var(--value-width);
}

.sp-select {
  align-items: center;
  background-color: var(--mit-white);
  border-radius: 4px;
  border: var(--input-border-width) solid var(--input-border-color);
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  justify-content: left;
  min-height: var(--min-height);
  padding: 2px 4px;
  margin: 0;
  position: relative;
  transition: 0.1s;
  width: calc(var(--value-width) + 7px);
  font-family: Verdona, Geneva, sans-serif;
}

.sp-select:hover {
  background-color: var(--select-fill);
}

.sp-focus {
  outline: 1px solid var(--mit-maroon);
}

.sp-dropdown {
  border-radius: 3px;
  border: var(--input-border-width) solid var(--input-border-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  box-sizing: border-box;
  background-color: var(--lighter-gray)!important;
  color: black;
  display: none;
  left: -1.5px;
  top: 100%;
  max-height: var(--max-height);
  overflow-x: hidden;
  overflow-y: auto; /* this does not work in firefox, handled in .js instead */
  position: absolute;
  width: calc(100% + 3px); /*var(--value-width);*/
  z-index: 5;
}

.sp-dropdown::-webkit-scrollbar {
  width: 6px;
}
.sp-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--mit-maroon);
  background-clip: padding-box;
  border: 1px solid var(--mit-maroon);
}
.sp-dropdown::-webkit-scrollbar-track {
  background-color: var(--mit-pink);
}

.sp-dropdown { /* only for firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--mit-maroon) var(--mit-pink);
}

.sp-select-open .sp-dropdown {
  display: block;
}

.sp-option {
  background-color: var(--lighter-gray);
  color: black;
  box-sizing: border-box;
  cursor: pointer;
  height: var(--row-height);
  line-height: var(--row-height);
  padding-left: 4px;
  padding-top: 1px;
  white-space: nowrap;
  font-size: 90%;
  font-weight: normal;
}

.sp-option:hover {
  background-color: var(--select-fill);
}

.sp-option-selected {
  background-color: var(--select-fill);
  color: var(--mit-maroon);
  cursor: initial;
}

.sp-option-selected::before {
  content: "✓";
  color: var(--mit-maroon);
}

.sp-option-hidden {
  display: none;
}

.sp-option-disabled {
  color: gray;
}

.sp-option-disabled:hover {
  cursor: not-allowed;
}

.sp-option-note {
  float: right;
  margin-right: 5px;
}

.sp-label {
  padding-top: 0.5px;
  padding-bottom: 1px;
}

.sp-tag {
  background-color: var(--mit-maroon);
  border-radius: 3px;
  color: var(--mit-white);
  cursor: initial;
  display: inline-block;
  margin: 1.5px 4px 1px 0;
  padding: 1px 2px 1px 3px;
  font-size: 100%;
}

.sp-tag i {
  display: inline-block;
  font-weight: bold;
  padding-left: 1px;
  padding-right: 2px;
  margin-left: 1px;
}

.sp-tag i:hover {
  background-color: var(--select-fill);
  color: black;
}

.sp-autocomplete {
  background-color: var(--mit-white);
  border-bottom: 1px solid var(--mit-maroon);
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  font-size: 95%;
  outline: 1.5px solid var(--mit-maroon);
  padding: 5px;
  width: 100%;
}
