:root {
  --min-height: 32px;
  --max-height: 408px;
  --row-height: 20px;
}

.sp-placeholder {
  color: gray;
  font-style: italic;
  font-size: 90%;
}

.sp-placeholder::after {
  content: "▽"; /*"▿";*/
  font-weight: normal;
  position: absolute;
  bottom: 7px;
  right: 2px;
  color: var(--mit-maroon);
  font-style: normal;
  font-size: 70%;
}

.select-wrapper {
  margin: auto;
  max-width: var(--value-width);
  width: var(--value-width);
}

.sp-select {
  align-items: center;
  background: var(--mit-white);
  border-radius: 4px;
  border: var(--input-border-width) solid var(--input-border-color);
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  justify-content: left;
  min-height: var(--min-height);
  padding: 2px 4px;
  margin: 0;
  position: relative;
  transition: 0.1s;
  width: 427px; /* should be calc(var(--value-width)+7px); */
  font-family: Verdona, Geneva, sans;
}

,sp-select * {
  font-family: inherit;
}

.sp-select:hover {
  background: var(--select-fill);
}


.sp-dropdown {
  border-radius: 3px;
  border: var(--input-border-width) solid var(--input-border-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  box-sizing: border-box;
  color: black;
  display: none;
  left: -1.5px;
  top: 100%;
  max-height: var(--max-height);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: calc(100% + 3px); /*var(--value-width);*/
  z-index: 5;
}

.sp-select-open .sp-dropdown {
  display: block;
}

.sp-option {
  background: var(--lighter-gray);
  color: black;
  box-sizing: border-box;
  cursor: pointer;
  height: var(--row-height);
  line-height: var(--row-height);
  padding-left: 4px;
  padding-top: 1px;
  white-space: nowrap;
  font-size: 90%;
  font-weight: normal;
}

.sp-option:hover {
  background: var(--select-fill);
}

.sp-option-selected {
  background-color: var(--select-fill);
  color: var(--mit-maroon);
  cursor: initial;
}

.sp-option-selected::before {
  content: "✓";
  color: var(--mit-maroon);
}

.sp-option-hidden {
  display: none;
}

.sp-option-disabled {
  color: gray;
}

.sp-option-disabled:hover {
  cursor: not-allowed;
}

.sp-label {
  padding-top: 0.5px;
  padding-bottom: 1px;
}

.sp-tag {
  background: var(--mit-maroon);
  border-radius: 3px;
  color: var(--mit-white);
  cursor: initial;
  display: inline-block;
  margin: 1.5px 4px 1px 0px;
  padding: 1px 2px 1px 3px;
  font-size: 100%;
}

.sp-tag i {
  display: inline-block;
  font-weight: bold;
  padding-left: 1px;
  padding-right: 2px;
  margin-left: 1px;
}

.sp-tag i:hover {
  background-color: var(--select-fill);
  color: black;
}

.sp-autocomplete {
  background: var(--mit-white);
  border-bottom: 1px solid var(--mit-maroon);
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  font-size: 95%;
  outline: none;
  padding: 5px;
  width: 100%;
}
