{% extends 'homepage.html' %}
{% block content %}

{% if not user.is_authenticated %}

  <h1>You are not logged in</h1>

  <div style="margin-bottom: 20px">New user?
     <a href="{{ url_for('.register') }}">Register here</a>.
  </div>

  <form name="login" action="{{ url_for('.login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
      <tr><td>Kerb ID:</td>
        <td><input name="identifier" placeholder="roed" /></td></tr>
{#
      <tr><td>Password:</td>
          <td><input name="password" type="password" /></td>
          <td> (<a href="{{ url_for('.reset_password') }}">Forgot password?</a>) </td>
      </tr>
#}
      <tr>
        <td></td>
        <td><button class="save" name="submit" type="submit">Login</button></td>
      </tr>
    </table>
  </form>

{% else %}
  <form action="{{ url_for('.logout') }}" method="POST" name="logout">
  <h2>Welcome, {{ user.preferred_name }} <div style="float: right; margin-right: 50px"><button class="side-cancel" name="submit" type="submit">Logout</button></div></h2>
  </form>

  <h2>Courses</h2>

  <h2>Groups</h2>


  <form action="{{ url_for('.set_info') }}" method="post" name="userinfo">
  <h2>Details</h2>

  <table>
    <tr>
      <td>Name</td>
      <td><input name="preferred_name" value="{{user.preferred_name}}" size="30" tabindex="1" required /></td>
    </tr>
    <tr>
      <td>Pronouns</td>
      <td><input name="preferred_pronouns" value="{{user.preferred_pronouns}}" size="30" tabindex="2" /></td>
    </tr>
    <tr>
      <td>Year</td>
      <td><input name="year" value="{{user.year}}" size="30" placeholder="3" tabindex="3" /></td>
    </tr>
  </table>

  <h2>Available Times</h2>
  
  <table class='times' style="min-width:750px;">
    {% for i in range(maxlength["time_slots"]//3) %}
      <tr>
        {% if i == 0 %}
          <td style="margin-right:0px; min-width:69px;">{{ KNOWL("Time slots") }}</td>
          {% set hide="visibility:hidden;" %}
          <td style="vertical-align:middle; padding-left:0px; padding-right:0px;"><a class="slotplus" id="slotplus" style="{{hide}}" href="#"><i style="color:green;" class="fas fa-plus-square"></i></a></td>
          <td style="vertical-align:middle; padding-left:0px; padding-right:47px;"><a class="slotminus" id="slotminus" style="{{hide}}" href="#"><i style="color:darkred;" class="fas fa-minus-square"></i></a></td>
        {% else %}
          {% set hide="display:none;" %}
          <td></td><td></td><td></td>
        {% endif %}
        {% for j in range(3) %}
          <td style="padding-right:1px; margin-right:0px;">
            <select id="weekday{{3*i+j}}" name="weekday{{3*i+j}}" style="{{hide}}">
              <option value="" {% if not seminar.weekdays[3*i+j] %} selected{% endif %}></option>
              {% for wkday in options["weekday"] %}
                <option value="{{loop.index0}}"{% if seminar.weekdays[3*i+j] == loop.index0 %} selected{% endif %}>{{wkday}}</option>
              {% endfor %}
            </select>
          </td>
          <td style="padding-left:1px; margin-left:0px; padding-right:29px;">
            <input id="time_slot{{3*i+j}}" name="time_slot{{3*i+j}}" value="{{ seminar.time_slots[3*i+j] }}" style="width:90px; {{hide}}" placeholder="15:00-16:00" />
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  </form>

{% endif %}

{% endblock %}
