{% extends 'homepage.html' %}

{% macro SPREF(pref,value) -%}
{%- endmacro %}

{% block content %}

{% if not user.is_authenticated %}

  <h1>You are not logged in</h1>

  <form name="login" action="{{ url_for('.login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
      <tr><td>Kerb ID:</td>
        <td><input name="identifier" placeholder="roed" /></td></tr>
{#
      <tr><td>Password:</td>
          <td><input name="password" type="password" /></td>
          <td> (<a href="{{ url_for('.reset_password') }}">Forgot password?</a>) </td>
      </tr>
#}
      <tr>
        <td></td>
        <td><button class="save" name="submit" type="submit">Login</button></td>
      </tr>
    </table>
  </form>

{% else %}
  <form action="{{ url_for('.logout') }}" method="POST" name="logout">
  <h2>You are logged in as {{ user.preferred_names }}<div style="float: right; margin-right: 50px"><button name="logout" type="submit">Logout</button></div></h2>
  </form>

  <h3>Classes</h3>

  <form action="{{ url_for('.set_info') }}" method="post" name="userinfo">
  <h3>Personal details</h3>

  <table class="input">
    <tr>
      <td class="caption">Preferred name</td>
      <td><input class="value" name="preferred_names" value="{{user.preferred_names}}" tabindex="1" required /></td>
    </tr>
    <tr>
      <td class="caption">Preferred pronouns</td>
      <td><input class="value" name="preferred_pronouns" value="{{user.preferred_pronouns}}" placeholder="e.g. he/him, she/hers, they/them" /></td>
    </tr>
    <tr>
      <td class="caption">Current year</td>
      <td>
        <select class="value" name="year">
          <option value=""{% if not user.year %} selected {% endif %}></option>
          {% for (value, display) in options["year"] %}
          <option value="{{value}}" {% if user.year == "{{val}}" %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Gender identity (optional)</td>
      <td>
        <select class="value" name="gender">
          <option value=""{% if not user.gender %} selected {% endif %}></option>
          {% for (value, display) in options["gender"] %}
          <option value="{{value}}" {% if user.gender == "{{val}}" %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td classe="caption" style="vertical-align:top;">About me</td>
      <td><textarea class="value" name="description" value="{{user.description}}" placeholder="A fun fact or something you would like your pset partners to know about you." rows="4"></textarea></td>
    </tr>
  </table>

  <h3>Location and availability in 2020 fall term</h3>
  <input id="num_slots" name="num_slots" style="display:none;" value="{{ user.time_slots|length }}">
  <table class="input">
    <tr>
      <td class="caption">Location</td>
      <td colspan="4"><select class="value" name="location">
            {% for value, display in options["location"] %}
            <option value="{{value}}" {% if value == user.location %} selected=true {%endif%}>{{display}}</option>
            {% endfor %}
          </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Time zone</td>
      <td colspan="4"><select class="value" name="timezone">
            {% for value, display in options["timezones"] %}
            <option value="{{value}}" {% if tz == user.timezone %} selected=true {%endif%}>{{display}}</option>
            {% endfor %}
          </select>
      </td>
    </tr>
    {% for i in range(maxlength["time_slots"]//2) %}
      <tr>
        {% if i == 0 %}
          {% set hide="visibility:hidden;" %}
          <td class="caption"><a>Time slots</a>
          <a class="slotplus" id="slotplus" style="{{hide}}" href="#"><i style="color:green;" class="fas fa-plus-square"></i></a>
          <a class="slotminus" id="slotminus" style="{{hide}}" href="#"><i style="color:darkred;" class="fas fa-minus-square"></i></a>
          </td>
        {% else %}
          {% set hide="display:none;" %}
          <td></td>
        {% endif %}
        {% for j in range(2) %}
          <td style="padding-right:1px; margin-right:0px;">
            <select class="value" id="weekday{{2*i+j}}" name="weekday{{2*i+j}}" style="width: 55px; {{hide}}">
              <option value="" {% if user.weekdays[2*i+j] is none %} selected{% endif %}></option>
              {% for wkday in options["weekday"] %}
                <option value="{{loop.index0}}"{% if user.weekdays[2*i+j] == loop.index0 %} selected{% endif %}>{{wkday}}</option>
              {% endfor %}
            </select>
          </td>
          <td style="padding-left:1px; margin-left:0px; padding-right:26px;">
            <input class="value" id="time_slot{{2*i+j}}" name="time_slot{{2*i+j}}" value="{{ user.time_slots[2*i+j] }}" style="width:90px; {{hide}}" placeholder="15:00-16:00" />
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <h3>General preferences <span class="comment">(may be customized per class, blank means no preference)</span></h3>

  <table class="input">
    <tr>
      <td class="caption">Ideal group size</td>
      <td><input class="value" name="pref_group_size" value="{{ current_user.preferences.group_size }}" placeholder="e.g. 2 or 3-4" /></td>
      <td><input id="spref_group_size" type="range" min="1" max="5" value="{{ user.strengths.group_size }}" steps="1" class="slider" name="sgroup_size" oninput="spref_group_size.value = {{options['strength']}}[spref_group_size.value];" /></td>
      <td><output class="value" id="spref_group_size">{{options['strength'][current_user.strengths.group_size]}}</output></td>
    </tr>
    <tr>
      <td class="caption">When you start working</td>
      <td>
        <select class="value" name="pref_start">
          <option value=""{% if not user.preferences.start %} selected {% endif %}></option>
          {% for (value, display) in options["start"] %}
          <option value="{{value}}" {% if user.preferences.start == "{{val}}" %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="caption">How you like to work</td>
      <td>
        <select class="value" name="pref_together">
          <option value=""{% if not user.preferences.start %} selected {% endif %}></option>
          {% for (value, display) in options["together"] %}
          <option value="{{value}}" {% if user.preferences.start == "{{val}}" %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Collaboration forum</td>
      <td>
        <select class="value" name="pref_forum">
          <option value=""{% if not user.preferences.medium %} selected {% endif %}></option>
          {% for (value, display) in options["forum"] %}
          <option value="{{value}}" {% if user.preferences.forum == "{{val}}" %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Year affinity</td>
      <td>
        <select class="value" name="pref_year_affinity">
          <option value=""{% if not user.preferences.year_affinity %} selected {% endif %}></option>
          {% for (value, display) in options["year_affinity"] %}
          <option value="{{value}}" {% if user.preferences.year_affinity == "{{val}}" %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="caption">Gender affinity</td>
      <td>
        <select class="value" name="pref_gender_affinity">
          <option value=""{% if not user.preferences.year_affinity %} selected {% endif %}></option>
          {% for (value, display) in options["gender_affinity"] %}
          <option value="{{value}}" {% if user.preferences.gender_affinity == "{{val}}" %} selected {% endif %}>{{display}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>

  <button type="submit" name="submit" value="save">Save</button>
  </form>

<script type="text/javascript">
  var max_slots = {{ maxlength["time_slots"] }};
  document.addEventListener("DOMContentLoaded", function() {
    setupslots();
  });
</script>


{% endif %}

{% endblock %}
